<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="breadCrumb">
							<p:breadCrumb homeDisplay="text">
								<p:menuitem value="" url="#" />
								<p:menuitem value="Home"
									style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
									url="#{navigationController.homePage}" />
								<p:menuitem value="Member profile"
									url="#{navigationController.viewMemberProfile}" />
							</p:breadCrumb>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="userRegForm">
							<h:panelGrid columns="2" style="align: center! important;">
								<h:panelGrid columns="2" cellpadding="3"
									style="margin-left: 20px !important;">

									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="fname" value="#{profileView.user.firstName}"
											required="true" label="fname"
											requiredMessage="Enter a first name" size="43"
											validatorMessage="Length is less than allowable minimum of '2'">
											<f:validateLength minimum="2" />
											<p:clientValidator />
										</p:inputText>
										<label>First Name</label>
									</h:panelGroup>
									<p:message for="fname" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="lname" value="#{profileView.user.lastName}"
											required="true" label="lname"
											requiredMessage="Enter a last name" size="43"
											validatorMessage="Length is less than allowable minimum of '2'">
											<f:validateLength minimum="2" />
											<p:clientValidator />
										</p:inputText>
										<label>Last Name</label>
									</h:panelGroup>
									<p:message for="lname" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<p:selectOneMenu id="selectedCountry"
										converter="countryConverter"
										value="#{profileView.user.country}" var="country"
										style="width:220px" panelStyle="width:243px" required="false"
										effect="fade" autoComplete="true" filter="true"
										scrollHeight="10" filterMatchMode="startsWith">
										<f:selectItem itemLabel="Select Country" itemValue="#{null}" />
										<f:selectItems value="#{profileView.listOfCountries}"
											var="country" itemLabel="#{country}" itemValue="#{country}" />
										<p:column>
											<h:outputText value="#{country}" />
										</p:column>
									</p:selectOneMenu>
									<p:message for="selectedCountry" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="location" required="false" label="location"
											size="43" requiredMessage="Enter a Location"
											value="#{profileView.user.location}">
										</p:inputText>
										<label>Location</label>
									</h:panelGroup>
									<p:message for="location" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<p:selectOneMenu id="selectedGender"
										converter="genderConverter" value="#{profileView.user.gender}"
										var="gender" style="width:320px" panelStyle="width:320px"
										required="true" effect="fade" autoComplete="true"
										filter="true" scrollHeight="10" filterMatchMode="startsWith">
										<f:selectItem itemLabel="Select Gender" itemValue="#{null}" />
										<f:selectItems value="#{profileView.listOfGenders}"
											var="gender" itemLabel="#{gender.name}" itemValue="#{gender}" />
										<p:column>
											<h:outputText value="#{gender.name}" />
										</p:column>
									</p:selectOneMenu>
									<p:message for="selectedGender" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
								</h:panelGrid>
								<h:panelGrid columns="2" cellpadding="3"
									style="margin-left: 20px !important;">
									<p:spacer height="30" />
									<p:spacer height="30" />

									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="uname" value="#{profileView.user.username}"
											required="true" label="uname"
											requiredMessage="Enter a user name" size="43"
											validatorMessage="Length is less than allowable minimum of '2'">
											<f:validateLength minimum="2" />
											<p:clientValidator />
										</p:inputText>
										<label>Username</label>
									</h:panelGroup>
									<p:message for="uname" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="email" required="false" label="email"
											size="43" requiredMessage="Enter an email address"
											validatorMessage="Invalid email format"
											value="#{profileView.user.emailAddress}">
											<f:validateRegex
												pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
										</p:inputText>
										<label>Email</label>
									</h:panelGroup>
									<p:message for="email" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="phoneNumber" required="false"
											label="phoneNumber" size="43"
											requiredMessage="Enter a Phone Number"
											value="#{profileView.user.phoneNumber}">
										</p:inputText>
										<label>Phone Number</label>
									</h:panelGroup>
									<p:message for="phoneNumber" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:password id="pwd1"
											value="#{profileView.user.clearTextPassword}" match="pwd2"
											label="Password 1" required="true" feedback="true"
											inline="true" requiredMessage="Enter a passwword" size="43"
											validatorMessage="First password must match with second password" />
										<label>Password</label>
									</h:panelGroup>
									<p:message for="pwd1" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:password id="pwd2"
											value="#{profileView.user.clearTextPassword}"
											label="Password 2" size="43" required="true"
											requiredMessage="Enter a passwword" />
										<label>Confirm Password</label>
									</h:panelGroup>
									<p:message for="pwd2" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:spacer width="220" height="10" />
										<p:commandButton id="saveBtn" action="#{profileView.saveUser}"
											styleClass="#{recordsCountController.formButtonColor}"
											icon="#{recordsCountController.formIcon}"
											style="margin-bottom:5px;" ajax="true" value="Save"
											update="userRegForm" validateClient="true" />
									</p:outputPanel>
									

									<p:blockUI block="userRegForm" trigger="userRegForm:saveBtn">
										<p:graphicImage value="/resources/images/workingicon.png" />
									</p:blockUI>
								</h:panelGrid>
							</h:panelGrid>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>