.ui-datatable .ui-datagrid-header,.ui-datatable .ui-datatable-header,.ui-datatable .ui-datatable-subtable-header,.ui-datatable .ui-datatable-summaryrow
	{
	background-color: inherit;
}

.TableAlgnment {
	margin-right: 5px !important;
	margin-left: 5px !important;
	margin-bottom: 5px !important;
	margin-top: 0px !important;
}

.FontEleven {
	font-size: 11px !important;
}

.FontTwelve {
	font-size: 12px !important;
}

.FontFifteen {
	font-size: 15px !important;
}

.BordRad3 {
	border-radius: 0px;
}

.panelgridcolumns td {
	vertical-align: top;
}

.tableColumn-leftAligned {
	font-size: 14px !important;
	text-align: left;
}

.tableColumn-rightAligned {
	font-size: 14px !important;
	text-align: right;
}

.tableFacet-centerAligned {
	font-size: 14px !important;
	text-align: centre !important;
}

.tableColumn-centerAligned {
	font-size: 14px !important;
	text-align: centre !important;
}

.tableFacet-centreAligned {
	font-size: 14px !important;
	text-align: centre !important;
}

.tableColumn-centreAligned {
	font-size: 14px !important;
	text-align: centre !important;
}

.tableFacet-leftAligned {
	font-size: 14px !important;
	text-align: left;
}

.tableFacet-rightAligned {
	font-size: 14px !important;
	text-align: right !important;
}

.smallButton {
	font-size: 11px !important;
	width: 238px;
	padding-top: 0px;
	border-radius: 0px !important;
	background-color: yellow !important;
	text-align: left;
}

.normalButton {
	font-size: 13px !important;
	text-align: left;
}

.fc-content .fc-event {
	background-color: rgba(134, 153, 171, 0.06);
	border: 1px solid #D2505A;
}

.TexAlCenter {
	text-align: left;
}

.TexCenter {
	text-align: center !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger,.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger
	{
	padding: 1px 5px !important;
	font-size: 16px;
	color: #ffffff !important;
	text-shadow: none;
	z-index: 100;
	border-bottom-right-radius: 3px !important;
	border-top-right-radius: 3px !important;
	margin: -1px -1px -1px 0px !important;
	background-color: #048FD2 !important;
}

.ui-panel .ui-panel-titlebar {
	padding: 8px 10px 8px 10px !important;
	font-size: 16px;
	color: #F1F6F9;
	z-index: 100;
	font-family: 'ralewaymedium';
	border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	background-color: #048FD2;
}

.CustomButton .ui-button-text {
	background-color: #048FD2 !important;
}

.CustomButton:hover .ui-button-text,.BlueButton:focus .ui-button-text {
	background-color: #ACC9DE !important;
}

body .ui-widget-header {
    background-color: #424e4d !important;
    font-size: 16px;
    border: 1px solid #98a5a3;
}