
.login-link:hover {
	color: #75b343;
	text-decoration: underline;
	font-weight: bold !important;
	text-decoration-color: #75b343;
}

.bg-feature-lp {
	background-image: url("<%=baseUrl%>/static/images/pattern.png");
	background-color: #B0E0E6;
	background-repeat: repeat;
	background-position: 0 0;
	padding-bottom: 10px;
	color: #fff;
	background:
		url("#{resource['ultima-layout:images/landing/pattern.png']}") top
		left no-repeat;
	background-size: 100% auto;
}

.link-separator {
	text-align: center;
}

#landing-container {
	margin: 0 auto;
	width: 450px;
	border: 1px solid #000;
	vertical-align: middle;
	margin-top: 20%;
	position: fixed;
	margin-left: 20%;
	background: #000;
}

.bgimg {
	background-color: #ffffff;
}

.lf {
	font-size: 1.2em;
}

.form-size {
	font-family: Times New Romans;
	font-size: 1.1em;
	height: 2.0em;
	margin-bottom: 0.5em;
	padding-top: 0.0em;
	padding-bottom: 0.0em;
	padding-top: 0.0em;
}

.header-style {
	text-align: center;
	color: #00008B !important;
	font-size: 2.0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0;
	font-weight: bold !important;
	font-family: Times New Romans;
}

.forgot-pwd-style {
	text-align: center;
	color: #00008B !important;
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 1.0em;
	margin-left: 0;
	font-weight: bold !important;
	font-family: Times New Romans;
}

.contact-us-style {
	color: #000000 !important;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	margin-left: 0;
	font-family: Times New Romans;
}

.message-success {
	font-size: 100%;
	color: #008000;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
}

.bg-style {
	cursor: auto;
	padding-top: 1em;
	padding-right: 60px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	min-height: 80px;
	text-align: center;
	font-size: 15px;
	color: #ffffff;
	background-color: #212121;
	border-color: #212121;
	background-size: 100% auto;
	box-sizing: border-box;
	-webkit-box-shadow:;
	padding-right: 12em;
}

.link-color {
	color: #f3f3f5;
}

.form-group {
	margin-bottom: 10px;
}

.link a {
	color: #f3f3f5;
	text-decoration: none
}

.account-wall-inc1 {
	margin: 0 auto;
	margin-top: 1.0em;
	width: 380px;
	border-style: none;
	border-width: 1px;
}

.error-inc1 {
	font-size: 1.0em;
	margin-top: 1.em;
	margin-bottom: 1.em;
	text-align: center !important;
}

.image-logo-style {
	text-align: center;
	margin-bottom: 1em;
}

.account-wall-inc2 {
	margin: 0 auto;
	margin-top: 2.0em;
	border-style: none;
	border-width: 1px;
}

}
.bottom-link a {
	text-decoration: underline
}

.link-hover a:hover {
	color: #000;
	text-decoration: none
}

.footer-style {
	text-align: center;
	color: #fff !important;
	font-size: 1.0em;
	margin-top: 1.5em;
	margin-bottom: 0.1em;
	margin-left: 0;
	font-weight: bold !important;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

h6 {
	display: block;
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #008000;
	text-align: center;
	font-weight: bold !important;
}

.form-h6 {
	display: block;
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #008000;
	text-align: center;
	font-weight: bold !important;
}

h3 {
	display: block;
	font-size: 1.0em;
	margin-top: 0.67em;
	margin-left: 1.5em;
	color: #FFF;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.4em;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	margin-left: 0.5em;
	margin-right: 0;
	color: #000000;
}

.empty {
	height: 100% !important;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FED857;
	margin-top: 0em;
	margin-left: auto;
	margin-right: auto;
}