.navLp>li.disabled>a:hover, .navLp>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

.navLp .open>a, .navLp .open>a:hover, .navLp .open>a:focus {
	background-color: #eee;
	border-color: #428bca;
}

.navLp .navLp-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.navLp>li>a>img {
	max-width: none;
}

.navLp-tabs {
	border-bottom: 1px solid #ddd;
}

.navLp-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.navLp-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.navLp-tabs>li>a:hover {
	border-color: #eee #eee #ddd;
}

.navLp-tabs>li.active>a, .navLp-tabs>li.active>a:hover, .navLp-tabs>li.active>a:focus
	{
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.navLp-tabs.navLp-justified {
	width: 100%;
	border-bottom: 0;
}

.navLp-tabs.navLp-justified>li {
	float: none;
}

.navLp-tabs.navLp-justified>li>a {
	margin-bottom: 5px;
	text-align: center;
}

.navLp-tabs.navLp-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

@media ( min-width : 768px) {
	.navLp-tabs.navLp-justified>li {
		display: table-cell;
		width: 1%;
	}
	.navLp-tabs.navLp-justified>li>a {
		margin-bottom: 0;
	}
}

.navLp-tabs.navLp-justified>li>a {
	margin-right: 0;
	border-radius: 4px;
}

.navLp-tabs.navLp-justified>.active>a, .navLp-tabs.navLp-justified>.active>a:hover,
	.navLp-tabs.navLp-justified>.active>a:focus {
	border: 1px solid #ddd;
}

@media ( min-width : 768px) {
	.navLp-tabs.navLp-justified>li>a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
	}
	.navLp-tabs.navLp-justified>.active>a, .navLp-tabs.navLp-justified>.active>a:hover,
		.navLp-tabs.navLp-justified>.active>a:focus {
		border-bottom-color: #fff;
	}
}

.navLp-pills>li {
	float: left;
}

.navLp-pills>li>a {
	border-radius: 4px;
}

.navLp-pills>li+li {
	margin-left: 2px;
}

.navLp-pills>li.active>a, .navLp-pills>li.active>a:hover, .navLp-pills>li.active>a:focus
	{
	color: #fff;
	background-color: #428bca;
}

.navLp-stacked>li {
	float: none;
}

.navLp-stacked>li+li {
	margin-top: 2px;
	margin-left: 0;
}

.navLp-justified {
	width: 100%;
}

.navLp-justified>li {
	float: none;
}

.navLp-justified>li>a {
	margin-bottom: 5px;
	text-align: center;
}

.navLp-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

@media ( min-width : 768px) {
	.navLp-justified>li {
		display: table-cell;
		width: 1%;
	}
	.navLp-justified>li>a {
		margin-bottom: 0;
	}
}

.navLp-tabs-justified {
	border-bottom: 0;
}

.navLp-tabs-justified>li>a {
	margin-right: 0;
	border-radius: 4px;
}

.navLp-tabs-justified>.active>a, .navLp-tabs-justified>.active>a:hover,
	.navLp-tabs-justified>.active>a:focus {
	border: 1px solid #ddd;
}

.navLpbar-default .navLpbar-navLp>.open>a, .navLpbar-default .navLpbar-navLp>.open>a:hover,
	.navLpbar-default .navLpbar-navLp>.open>a:focus {
	color: #000;
}

@media ( max-width : 767px) {
	.navLpbar-default .navLpbar-navLp .open .dropdown-menu>li>a {
		color: #777;
	}
	.navLpbar-default .navLpbar-navLp .open .dropdown-menu>li>a:hover,
		.navLpbar-default .navLpbar-navLp .open .dropdown-menu>li>a:focus {
		color: #333;
		background-color: transparent;
	}
	.navLpbar-default .navLpbar-navLp .open .dropdown-menu>.active>a,
		.navLpbar-default .navLpbar-navLp .open .dropdown-menu>.active>a:hover,
		.navLpbar-default .navLpbar-navLp .open .dropdown-menu>.active>a:focus
		{
		color: #555;
	}
	.navLpbar-default .navLpbar-navLp .open .dropdown-menu>.disabled>a,
		.navLpbar-default .navLpbar-navLp .open .dropdown-menu>.disabled>a:hover,
		.navLpbar-default .navLpbar-navLp .open .dropdown-menu>.disabled>a:focus
		{
		color: #ccc;
		background-color: transparent;
	}
}

.navLpbar-default .navLpbar-link {
	color: #777;
}

.navLpbar-default .navLpbar-link:hover {
	color: #333;
}

.navLpbar-default .btn-link {
	color: #777;
}

.navLpbar-default .btn-link:hover, .navLpbar-default .btn-link:focus {
	color: #333;
}

.navLpbar-default .btn-link[disabled]:hover, fieldset[disabled] .navLpbar-default .btn-link:hover,
	.navLpbar-default .btn-link[disabled]:focus, fieldset[disabled] .navLpbar-default .btn-link:focus
	{
	color: #ccc;
}

.navLpbar-inverse {
	background-color: #222;
	border-color: #080808;
}

.navLpbar-inverse .navLpbar-brand {
	color: #777;
}

.navLpbar-inverse .navLpbar-brand:hover, .navLpbar-inverse .navLpbar-brand:focus
	{
	color: #fff;
	background-color: transparent;
}

.navLpbar-inverse .navLpbar-text {
	color: #777;
}

.navLpbar-inverse .navLpbar-navLp>li>a {
	color: #777;
}

.navLpbar-inverse .navLpbar-navLp>li>a:hover, .navLpbar-inverse .navLpbar-navLp>li>a:focus
	{
	color: #fff;
	background-color: transparent;
}

.navLpbar-inverse .navLpbar-navLp>.active>a, .navLpbar-inverse .navLpbar-navLp>.active>a:hover,
	.navLpbar-inverse .navLpbar-navLp>.active>a:focus {
	color: #fff;
	background-color: #080808;
}

.navLpbar-inverse .navLpbar-navLp>.disabled>a, .navLpbar-inverse .navLpbar-navLp>.disabled>a:hover,
	.navLpbar-inverse .navLpbar-navLp>.disabled>a:focus {
	color: #444;
	background-color: transparent;
}

.navLpbar-inverse .navLpbar-toggle {
	border-color: #333;
}

.navLpbar-inverse .navLpbar-toggle:hover, .navLpbar-inverse .navLpbar-toggle:focus
	{
	background-color: #333;
}

.navLpbar-inverse .navLpbar-toggle .icon-bar {
	background-color: #fff;
}

.navLpbar-inverse .navLpbar-collapse, .navLpbar-inverse .navLpbar-form {
	border-color: #101010;
}

.navLpbar-inverse .navLpbar-navLp>.open>a, .navLpbar-inverse .navLpbar-navLp>.open>a:hover,
	.navLpbar-inverse .navLpbar-navLp>.open>a:focus {
	color: #fff;
	background-color: #080808;
}

@media ( max-width : 767px) {
	.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.dropdown-header
		{
		border-color: #080808;
	}
	.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu .divider {
		background-color: #080808;
	}
	.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>li>a {
		color: #777;
	}
	.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>li>a:hover,
		.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>li>a:focus {
		color: #fff;
		background-color: transparent;
	}
	.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.active>a,
		.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.active>a:hover,
		.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.active>a:focus
		{
		color: #fff;
		background-color: #080808;
	}
	.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.disabled>a,
		.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.disabled>a:hover,
		.navLpbar-inverse .navLpbar-navLp .open .dropdown-menu>.disabled>a:focus
		{
		color: #444;
		background-color: transparent;
	}
}

.navLpbar-inverse .navLpbar-link {
	color: #777;
}

.navLpbar-inverse .navLpbar-link:hover {
	color: #fff;
}

.navLpbar-inverse .btn-link {
	color: #777;
}

.navLpbar-inverse .btn-link:hover, .navLpbar-inverse .btn-link:focus {
	color: #fff;
}

.navLpbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navLpbar-inverse .btn-link:hover,
	.navLpbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navLpbar-inverse .btn-link:focus
	{
	color: #444;
}