<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="#{recordsCountController.author}" />
		<meta name="author contact"
			content="#{recordsCountController.authorContact}" />
		<meta name="author email"
			content="#{recordsCountController.authorEmail}" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<link rel="shortcut icon" type="image/png"
		href="#{request.contextPath}/resources/images/favicon.png" />
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
</h:head>

<h:body styleClass="landing-body">
	<div class="layout-main">
		<ui:insert name="content" />
	</div>
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/overrides.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>

</html>