<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<div class="footer">
		<div class="shadow-box ui-shadow-5">
			<div class="card clearfix">
				<span class="footer-text-left">Copyright ©
					#{copyrightDateRenderer.copyright} Mobility Study. All ​rights
					reserved.</span>
			</div>
		</div>
	</div>
</ui:composition>