<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pu="http://primefaces.org/ultima">

	<h:form id="menuform">
		<div class="layout-menu #{guestPreferences.menuClass}">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<ui:fragment
						rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
						<div class="profile">
							<div class="profile-image">
								<p:graphicImage value="#{userImageView.image}" width="90"
									height="87" rendered="#{userImageView.userPictureAvailable}" />
								<p:graphicImage library="ultima-layout"
									value="/static/images/images.png" width="90" height="87"
									rendered="#{userImageView.dummyPictureAvailable}" />
							</div>
							<a id="profile-options"> <span class="profile-name">#{homePage.loggedinUser}</span></a>
						</div>
					</ui:fragment>

					<pu:menu widgetVar="me">
						<p:menuitem id="um_home" value="Home" icon="&#xE88A;"
							url="#{navigationController.homePage}" />
						<p:menuitem id="um_captured_locations" value="Captured Locations"
							icon="&#xE80B;" url="#{navigationController.capturedLocations}" />
						<p:menuitem id="um_time_diary" value="Time Diary" icon="&#xE32A;"
							url="#{navigationController.viewTimeDiary}" />
						<p:menuitem id="um_circler_map" value="Map" icon="&#xE80B;"
							url="#{navigationController.circlerMappedLocations}" />

						<p:menuitem value="Users" icon="fa fa-user"
							url="#{navigationController.usersView}"
							rendered="#{componentRenderer.administrator}" />

						<p:submenu id="um_settings" label="Settings" icon="&#xE8B8;"
							rendered="#{componentRenderer.administrator}">
							<p:menuitem id="um_app_type" value="App Type" icon="&#xE893;"
								url="#{navigationController.viewAppType}" rendered="false" />
							<p:menuitem value="Countries" icon="&#xE893;"
								url="#{navigationController.countriesView}" />
							<p:menuitem value="Duration Info" icon="&#xE893;"
								url="#{navigationController.durationInfo}" rendered="false" />
							<p:menuitem id="um_app_suggestions" value="Diary Suggestions"
								icon="&#xE893;"
								url="#{navigationController.viewTimeDiaryCategorySuggestions}"
								rendered="#{componentRenderer.administrator}" />
						</p:submenu>

						<p:menuitem id="um_logout" value="Logout" icon="&#xE8AC;"
							url="#{request.contextPath}/#{homePage.logoutUrl}">
						</p:menuitem>
					</pu:menu>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>