<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pu="http://primefaces.org/ultima">

	<div class="topbar clearfix">
		<div class="topbar-left">
			<ui:remove>
				<div>
					<p:graphicImage value="/static/images/logo.png" />
				</div>
			</ui:remove>
		</div>

		<div class="topbar-right">
			<a id="menu-button" href="#"> <i></i>
			</a> <a id="topbar-menu-button" href="#"> <i class="material-icons">&#xE5D2;</i>
			</a>
			<ul class="topbar-items fadeInDown animated">
				<li><a href="#{request.contextPath}/#{homePage.logoutUrl}">
						<i class="topbar-icon material-icons">&#xE8AC;</i> <span
						class="topbar-item-name">Logout</span>
				</a>
					<ul class="ultima-menu animated">
						<li role="menuitem"><a
							href="#{request.contextPath}/#{homePage.logoutUrl}"> <i
								class="material-icons">&#xE8AC;</i><span>Logout</span>
						</a></li>
					</ul></li>
				<li><a href="#"> <i class="topbar-icon material-icons">&#xE55A;</i>
						<span class="topbar-item-name">Profile</span>
				</a>
					<ul class="ultima-menu animated">
						<li role="menuitem"><a
							href="#{request.contextPath}#{navigationController.viewMemberProfile}">
								<i class="material-icons">&#xE55A;</i> <span>Profile</span>
						</a></li>
					</ul></li>
			</ul>
		</div>
	</div>

</ui:composition>