<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<!-- LAYOUT TOPBAR MENU -->
	<ul id="layout-topbar-menu-cover">
		<li><a id="" class="topbar-link Animated03 Fright"><i
				class="fa fa-power-off"></i> <span>Logout</span></a>
			<ul class="">
				<li><a href="#{request.contextPath}/#{homePage.logoutUrl}"
					class="menulink TexAlCenter Fs14"> <i
						class="Blue Fs15 Wid100 Fnone DispBlock MarBot10"></i>Logout
				</a></li>
			</ul></li>
	</ul>


</ui:composition>
