<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="breadCrumb">
							<p:breadCrumb homeDisplay="text">
								<p:menuitem value="" />
								<p:menuitem value="Home"
									style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
									url="#{navigationController.homePage}" />
								<p:menuitem value="Captured Locations"
									url="#{navigationController.capturedLocations}" />
								<p:menuitem value="Download Report Form"
									url="#{navigationController.viewDownloadCapturedLocationsForm}" />
							</p:breadCrumb>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="shadow-box ui-shadow-5">
					<div class="ui-g-12 ui-lg-6">
						<h:form id="downloadReportFormId">
							<p:panel style="width:100%;"
								header="NOTE : #{componentRenderer.maximumReportDays}">
								<div class="ui-g">
									<div class="ui-g-12" />
									<div class="ui-g-12 ui-lg-8">
										<p:selectOneMenu id="userId" converter="userConverter"
											value="#{downloadUserCapturedLocationsForm.selectedUser}"
											var="user"
											style="#{recordsCountController.inputTextPercentageSize}; display: inline !important;"
											panelStyle="#{recordsCountController.formPanelWidthPercentageSize}"
											required="true" effect="fade" autoComplete="true"
											filter="true" scrollHeight="20"
											filterMatchMode="#{recordsCountController.filterMode}"
											showCheckbox="true">
											<f:selectItem itemLabel="Select User" itemValue="#{null}" />
											<f:selectItems
												value="#{downloadUserCapturedLocationsForm.listOfUsers}"
												var="user" itemLabel="#{user}" itemValue="#{user}" />
											<p:column>
												<h:outputText value="#{user}" />
											</p:column>
										</p:selectOneMenu>
									</div>
									<div class="ui-g-12 ui-lg-4">
										<p:message for="userId" display="icon" />
									</div>


									<div class="ui-g-12" />
									<div class="ui-g-12 ui-lg-8">
										<h:panelGroup styleClass="md-inputfield">
											<p:calendar id="startDate"
												value="#{downloadUserCapturedLocationsForm.startDate}"
												required="true"
												style="#{recordsCountController.inputTextPercentageSizeForm}"
												navigator="true" />
											<label>Start Date</label>
										</h:panelGroup>
									</div>
									<div class="ui-g-12 ui-lg-4">
										<p:message for="startDate" display="icon" />
									</div>

									<div class="ui-g-12" />
									<div class="ui-g-12 ui-lg-8">
										<h:panelGroup styleClass="md-inputfield">
											<p:calendar id="endDate"
												value="#{downloadUserCapturedLocationsForm.endDate}"
												required="true"
												style="#{recordsCountController.inputTextPercentageSizeForm}"
												navigator="true" />
											<label>End Date</label>
										</h:panelGroup>
									</div>
									<div class="ui-g-12 ui-lg-4">
										<p:message for="endDate" display="icon" />
									</div>

									<div class="ui-g-12 ui-lg-7">
										<p:outputPanel styleClass="tableFacet-rightAligned">
											<p:commandButton id="saveBtn"
												styleClass="#{recordsCountController.formButtonColor}"
												style="margin-bottom:10px;" ajax="false" value="Download"
												update="downloadReportFormId" validateClient="true"
												icon="fa fa-download"
												onblur="PrimeFaces.monitorDownload(start, stop);">
												<p:fileDownload
													value="#{downloadUserCapturedLocationsForm.file}" />
											</p:commandButton>
										</p:outputPanel>
									</div>
									<div class="ui-g-12 ui-lg-5" />
								</div>
							</p:panel>

							<p:blockUI block="downloadReportFormId"
								trigger="downloadReportFormId:saveBtn">
								<p:graphicImage value="/resources/images/workingicon.png" />
							</p:blockUI>
						</h:form>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>