<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color"
			content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
	</f:facet>
	<title>Diary Category Suggestion Form</title>
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
	<ui:insert name="head" />
</h:head>

<h:body>
	<h:form id="timeDiaryCategoryFormId">
		<h:panelGrid columns="2" cellpadding="3" cellspacing="3"
			style="margin-left: 10px !important;">

			<p:spacer height="10" />
			<p:spacer height="10" />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="suggestion"
					value="#{timeCategorySuggestionDialog.model.suggestion}"
					required="true" size="30" />
				<label>Suggestion</label>
			</h:panelGroup>
			<p:message for="suggestion" display="icon" />

			<p:outputPanel styleClass="tableFacet-rightAligned">
				<p:spacer width="160" height="10" />
				<p:commandButton id="saveBtn"
					action="#{timeCategorySuggestionDialog.save}"
					icon="#{recordsCountController.formIcon}" ajax="true" value="Save"
					update="timeDiaryCategoryFormId" validateClient="true"
					styleClass="#{recordsCountController.formButtonColor}" />
			</p:outputPanel>
			<p:spacer height="10" />
		</h:panelGrid>
		<p:blockUI block="timeDiaryCategoryFormId"
			trigger="timeDiaryCategoryFormId:saveBtn">
			<p:graphicImage value="/resources/images/workingicon.png" />
		</p:blockUI>
	</h:form>
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>
</html>