<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="breadCrumb">
							<p:breadCrumb homeDisplay="text">
								<p:menuitem value="" url="#" />
								<p:menuitem value="Home"
									style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
									url="#{navigationController.homePage}" />
								<p:menuitem value="Time Diary"
									url="#{navigationController.viewTimeDiary}" />
							</p:breadCrumb>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="timeDiaryTableId">
							<p:dataTable id="timeDiaryTable" var="timeDiary"
								value="#{timeDiariesView}" widgetVar="timeDiaryTable"
								emptyMessage="#{recordsCountController.dataEmptyMessage}"
								lazy="true"
								rows="#{recordsCountController.maxumumRecordsPerPage}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								paginator="true" paginatorPosition="both"
								paginatorAlwaysVisible="false" rowIndexVar="row" reflow="true"
								rowKey="#{timeDiary.id}" editable="true">

								<f:facet name="header">
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:inputText size="#{recordsCountController.searchFieldSize}"
											placeholder="#{recordsCountController.searchPlaceHolder}"
											id="#{recordsCountController.globalFilterId}"
											onkeyup="PF('timeDiaryTable').filter()"
											update="timeDiaryTable" />
										<p:spacer width="10" />
										<p:commandButton id="searchButton" update="timeDiaryTable"
											value="Search"
											styleClass="#{recordsCountController.searchButtonColor}"
											style="margin-bottom:10px;" icon="fa fa-search" />
										<p:spacer width="5" />
										<p:commandButton icon="fa fa-download"
											action="#{navigationController.getViewDownloadTimediaryForm}"
											value="#{recordsCountController.reportButtonText}"
											styleClass="#{recordsCountController.downloadButtonColor}"
											update="timeDiaryTable" style="margin-bottom:10px;">
										</p:commandButton>
									</p:outputPanel>
								</f:facet>
								<p:column width="30" headerText="No.">
									<h:outputText value="#{row + 1}" />
								</p:column>

								<p:column filterBy="#{timeDiary.user}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="User" />
									</f:facet>
									<h:outputText value="#{timeDiary.user}" />
								</p:column>

								<p:column filterBy="#{timeDiary.registrationDate}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Date" />
									</f:facet>
									<h:outputText value="#{timeDiary.registrationDate}" />
								</p:column>

								<p:column filterBy="#{timeDiary.startTime}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Start Time" />
									</f:facet>
									<h:outputText value="#{timeDiary.startTime}" />
								</p:column>

								<p:column filterBy="#{timeDiary.endTime}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="End Time" />
									</f:facet>
									<h:outputText value="#{timeDiary.endTime}" />
								</p:column>

								<p:column filterBy="#{timeDiary.categorySuggestion.suggestion}"
									width="130" filterMatchMode="contains"
									filterStyle="display:none" styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Activity" />
									</f:facet>
									<h:outputText
										value="#{timeDiary.categorySuggestion.suggestion}" />
								</p:column>


								<p:column headerText="Options" width="50"
									style="font-size: 14px !important;" rendered="false">
									<p:commandLink actionListener="#{timeDiaryDialog.show}">
										<p:graphicImage value="/static/images/edit.png" width="20"
											height="20" />
										<f:setPropertyActionListener target="#{timeDiaryDialog.model}"
											value="#{timeDiary}" />
										<p:ajax event="dialogReturn" update="timeDiaryTable" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>