<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:head>
			<title>Captured Locations</title>
		</h:head>
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="breadCrumb">
							<p:breadCrumb homeDisplay="text">
								<p:menuitem value="" url="#" />
								<p:menuitem value="Home"
									style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
									url="#{navigationController.homePage}" />
								<p:menuitem value="Captured Locations"
									url="#{navigationController.capturedLocations}" />
							</p:breadCrumb>
						</h:form>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="capturedLocationsForm"
							style="margin-bottom: 40px !important;">
							<p:dataTable id="capturedLocationsTable" var="capturedLocation"
								value="#{capturedLocationsView}"
								widgetVar="capturedLocationsTable"
								emptyMessage="#{recordsCountController.dataEmptyMessage}"
								lazy="true"
								rows="#{recordsCountController.maxumumRecordsPerPage}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								paginator="true"
								paginatorPosition="#{recordsCountController.paginatorPosition}"
								paginatorAlwaysVisible="false" rowIndexVar="row"
								rowKey="#{capturedLocation.id}" editable="true" reflow="true">

								<f:facet name="header">
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:inputText size="#{recordsCountController.searchFieldSize}"
											placeholder="#{recordsCountController.searchPlaceHolder}"
											id="#{recordsCountController.globalFilterId}"
											onkeyup="PF('capturedLocationsTable').filter()"
											update="capturedLocationsTable" />
										<p:spacer width="5" />
										<p:commandButton id="searchButton" value="Search"
											icon="fa fa-search" update="capturedLocationsTable"
											styleClass="#{recordsCountController.searchButtonColor}"
											style="margin-bottom:10px;" />
										<p:spacer width="5" />
										<p:commandButton icon="fa fa-download"
											action="#{navigationController.getViewDownloadCapturedLocationsForm}"
											value="#{recordsCountController.reportButtonText}"
											styleClass="#{recordsCountController.downloadButtonColor}"
											update="capturedLocationsTable" style="margin-bottom:10px;">
										</p:commandButton>
									</p:outputPanel>
								</f:facet>

								<p:column style="font-size: 14px !important;" width="30"
									headerText="No." filterBy="#{row + 1}"
									filterMatchMode="contains" filterStyle="display:none">
									<h:outputText value="#{row + 1}" />
								</p:column>


								<p:column style="font-size: 14px !important;" width="90"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.dateChanged}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Server Date" />
									</f:facet>
									<h:outputText value="#{capturedLocation.dateChanged}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="100"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.user.fullName}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="User" />
									</f:facet>
									<h:outputText value="#{capturedLocation.user.fullName}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="90"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.methodType.name}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Method Used" />
									</f:facet>
									<h:outputText value="#{capturedLocation.methodType.name}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="140"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.latitude}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Latitude" />
									</f:facet>
									<h:outputText value="#{capturedLocation.latitude}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="140"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.longitude}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Longitude" />
									</f:facet>
									<h:outputText value="#{capturedLocation.longitude}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="80"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.accuracy}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Accuracy" />
									</f:facet>
									<h:outputText value="#{capturedLocation.accuracy}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="150"
									styleClass="tableColumn-leftAligned"
									filterBy="#{capturedLocation.placeName}"
									filterMatchMode="contains" filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Place Name" />
									</f:facet>
									<h:outputText value="#{capturedLocation.placeName}" />
								</p:column>

							</p:dataTable>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>