<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:head>
			<title>Map</title>
			<script
				src="https://maps.google.com/maps/api/js?key=AIzaSyCH75p0cJtG6I9WuudkuREqzDNm8ZNUkyI"
				type="text/javascript"></script>
		</h:head>
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="breadCrumb">
							<p:breadCrumb homeDisplay="text">
								<p:menuitem value="" url="#" />
								<p:menuitem value="Home"
									style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
									url="#{navigationController.homePage}" />
								<p:menuitem value="Captured Locations"
									url="#{navigationController.capturedLocations}" />
								<p:menuitem value="Circler Map"
									url="#{navigationController.circlerMappedLocations}" />
							</p:breadCrumb>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="mapFormId">
							<p:spacer height="5" />
							<p:outputPanel styleClass="tableFacet-rightAligned">
								<p:inputText size="#{recordsCountController.searchFieldSize}"
									placeholder="Search by user or place name"
									id="#{recordsCountController.globalFilterId}"
									value="#{circlerMapView.searchValue}" update="mapFormId"
									onkeyup="PF('gmap').filter()" />
								<p:spacer width="5" />
								<p:commandButton id="searchButton" value="Search"
									icon="fa fa-search" update="gmap"
									action="#{circlerMapView.searchLocations}"
									styleClass="#{recordsCountController.searchButtonColor}"
									style="margin-bottom:20px; margin-right:10px;" />
							</p:outputPanel>
							<p:growl id="growl" showDetail="true" />

							<p:gmap id="gmap"
								center="#{circlerMapView.latitude},#{circlerMapView.longitude}"
								zoom="15" streetView="true" type="HYBRID" style="width:100%; height:600px"
								model="#{circlerMapView.circleModel}" widgetVar="map">
								<p:ajax event="overlaySelect"
									listener="#{circlerMapView.onCircleSelect}" update="growl" />
							</p:gmap>

						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>