<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color"
			content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
	</f:facet>
	<title>User Details Form</title>
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
	<ui:insert name="head" />
</h:head>

<h:body>
	<h:form id="userFormId">

		<h:panelGrid columns="2" cellpadding="3"
			style="margin-left: 10px !important;">
			<h:panelGrid columns="2" cellpadding="3"
				style="margin-left: 10px !important;">
				<p:spacer height="10" />
				<p:spacer height="10" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="name1" value="#{editUserDialog.model.firstName}"
						required="true" size="25" />
					<label>First Name</label>
				</h:panelGroup>
				<p:message for="name1" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="name2" value="#{editUserDialog.model.lastName}"
						required="true" size="25" />
					<label>Last Name</label>
				</h:panelGroup>
				<p:message for="name2" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="phoneNumber" required="true" size="25"
						value="#{editUserDialog.model.phoneNumber}" />
					<label>Phone Number</label>
				</h:panelGroup>
				<p:message for="phoneNumber" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<p:selectOneMenu id="selectedGender" converter="genderConverter"
					value="#{editUserDialog.model.gender}" var="gender"
					style="width:270px" panelStyle="width:400px" required="true">
					<f:selectItem itemLabel="Select Gender" itemValue="#{null}" />
					<f:selectItems value="#{editUserDialog.listOfGenders}" var="gender"
						itemLabel="#{gender.name}" itemValue="#{gender}" />
					<p:column>
						<h:outputText value="#{gender.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedGender" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<p:selectOneMenu id="selectedCountry" converter="countryConverter"
					value="#{editUserDialog.model.country}" var="country"
					style="width:260px" panelStyle="width:380px" required="true"
					effect="fade" autoComplete="true" filter="true" scrollHeight="10"
					filterMatchMode="startsWith">
					<f:selectItem itemLabel="Select Country" itemValue="#{null}" />
					<f:selectItems value="#{editUserDialog.listOfCountries}"
						var="country" itemLabel="#{country}" itemValue="#{country}" />
					<p:column>
						<h:outputText value="#{country}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedCountry" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />


			</h:panelGrid>
			<h:panelGrid columns="2" cellpadding="3"
				style="margin-left: 10px !important;">

				<p:spacer height="10" />
				<p:spacer height="10" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="email" required="false" label="email" size="25"
						value="#{editUserDialog.model.emailAddress}">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<label>Email</label>
				</h:panelGroup>
				<p:message for="email" display="icon" />
				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="userId" required="true" size="25"
						value="#{editUserDialog.model.userId}" />
					<label>User Id</label>
				</h:panelGroup>
				<p:message for="userId" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="uname" value="#{editUserDialog.model.username}"
						required="true" label="uname" size="25" />
					<label>Username</label>
				</h:panelGroup>
				<p:message for="uname" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:password id="pwd1"
						value="#{editUserDialog.model.clearTextPassword}" match="pwd2"
						label="Password 1" required="true" feedback="true" inline="true"
						size="25" />
					<label>Password</label>
				</h:panelGroup>
				<p:message for="pwd1" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:password id="pwd2"
						value="#{editUserDialog.model.clearTextPassword}"
						label="Password 2" size="25" required="true" />
					<label>Confirm Password</label>
				</h:panelGroup>
				<p:message for="pwd2" display="icon" />

				<p:outputPanel styleClass="tableFacet-rightAligned">
					<p:spacer width="120" height="10" />
					<p:commandButton id="saveBtn" action="#{editUserDialog.save}"
						ajax="true" value="Save" update="userFormId" validateClient="true"
						icon="#{recordsCountController.formIcon}"
						styleClass="#{recordsCountController.formButtonColor}" />
				</p:outputPanel>
				<p:spacer height="5" />
			</h:panelGrid>
		</h:panelGrid>
		<p:blockUI block="userFormId" trigger="userFormId:saveBtn">
			<p:graphicImage value="/resources/images/workingicon.png" />
		</p:blockUI>
	</h:form>
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>
</html>