<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form rendered="#{componentRenderer.yodimeAdmin}"
						id="roles_table">
						<h3 class="BigTopic TexAlCenter"
							style="font-size: 20px; margin-left: 0.2px !important; font-weight: bold !important;">User
							Roles</h3>
						<p:dataTable id="tbl" var="role" value="#{rolesView.roles}"
							widgetVar="rolesTable"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
							paginator="true" rows="20" style="margin-bottom:10px"
							rowIndexVar="row" rowKey="#{role.id}" styleClass="tableRoles"
							filteredValue="#{rolesView.filteredRoles}"
							paginatorPosition="both" paginatorAlwaysVisible="false">
							<f:facet name="header">
								<p:outputPanel styleClass="tableFacet-rightAligned">
									<p:inputText size="50" placeholder="Search all fields"
										id="globalFilter" onkeyup="PF('rolesTable').filter()" />
									<p:spacer width="10" height="10" />
									<p:commandButton action="#{roleForm.show}" value="New"
										icon="fa fa-plus" styleClass="BLueButton"
										rendered="#{componentRenderer.yodimeAdmin}" />

									<p:commandButton id="searchButton"
										action="#{rolesView.reloadRoles}" value="Refresh"
										icon="fa fa-refresh" styleClass="OrangeButton" update="tbl" />
								</p:outputPanel>
							</f:facet>

							<p:column style="font-size: 14px !important;" width="30"
								headerText="No." filterBy="#{row + 1}"
								filterMatchMode="contains" filterStyle="display:none">
								<h:outputText value="#{row + 1}" />
							</p:column>
							<p:column filterBy="#{role.name}" filterMatchMode="contains"
								filterStyle="display:none" style="font-size: 14px !important;">
								<f:facet name="header">
									<h:outputText value="Name" />
								</f:facet>
								<h:outputText value="#{role.name}" />
							</p:column>
							<p:column filterBy="#{role.description}"
								filterMatchMode="contains" filterStyle="display:none"
								style="font-size: 14px !important;">
								<f:facet name="header">
									<h:outputText value="Description" />
								</f:facet>
								<h:outputText value="#{role.description}" />
							</p:column>

							<p:column headerText="Options" width="150"
								style="font-size: 14px !important;"
								rendered="#{componentRenderer.yodimeAdmin}">
								<p:spacer width="10" />
								<p:commandLink actionListener="#{roleForm.show}"
									value="View/Edit" rendered="#{componentRenderer.yodimeAdmin}">
									<f:setPropertyActionListener target="#{roleForm.role}"
										value="#{role}" immediate="true">
									</f:setPropertyActionListener>
								</p:commandLink>
								<p:spacer width="10" />
								<p:confirmDialog global="true" showEffect="fade">
									<p:commandButton value="Yes" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									<p:commandButton value="Cancel" type="button"
										styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								</p:confirmDialog>
							</p:column>
						</p:dataTable>
						
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>