<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color"
			content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
	</f:facet>
	<title>Roles Form</title>
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
	<ui:insert name="head" />
</h:head>

<h:body
	styleClass="main-body #{guestPreferences.compact ? 'layout-compact' : null}">
	<h:form id="roleForm">
		<h:panelGrid style="width: 100%; font-size: 14px !important;">
			<p:panel header="Role Details"
				style="width: 95%;background-color:#FFFFFF!important;">
				<h:panelGrid columns="2" cellpadding="2">
					<p:outputLabel for="name" value="Role Name" />
					<p:inputText id="name" value="#{roleForm.roleName}" required="true"
						size="45" />

					<p:outputLabel for="desc" value="Description" autoResize="false" />
					<p:inputTextarea id="desc" rows="3" cols="50"
						value="#{roleForm.description}" required="true" />
				</h:panelGrid>

				<p:panel header="Select Permissions">
					<p:message for="pickList" />
					<p:pickList id="pickList" value="#{roleForm.permisions}"
						var="permision" itemLabel="#{permision.name}"
						itemValue="#{permision}" showSourceControls="false"
						showTargetControls="false" showCheckbox="true"
						showSourceFilter="true" showTargetFilter="true"
						filterMatchMode="contains" required="true"
						requiredMessage="You must select permissions"
						converter="permissionConverter" />
				</p:panel>
				<p:outputPanel styleClass="tableFacet-rightAligned">
					<p:spacer width="430" height="10" />
					<p:commandButton id="saveBtn" action="#{roleForm.saveRole}"
						icon="fa fa-save" ajax="true" value="Save" update="roleForm"
						styleClass="BLueButton" />
				</p:outputPanel>
			</p:panel>
		</h:panelGrid>
	</h:form>
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>
</html>