<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color"
			content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
	</f:facet>
	<title>User Details Form</title>
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
	<ui:insert name="head" />
</h:head>

<h:body>
	<h:form id="userFormId">

		<h:panelGrid columns="2" cellpadding="3"
			style="margin-left: 10px !important;">
			<h:panelGrid columns="2" cellpadding="3"
				style="margin-left: 10px !important;">
				<p:spacer height="10" />
				<p:spacer height="10" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="name1" value="#{userDialog.model.firstName}"
						required="true" size="25" />
					<label>First Name</label>
				</h:panelGroup>
				<p:message for="name1" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="name2" value="#{userDialog.model.lastName}"
						required="true" size="25" />
					<label>Last Name</label>
				</h:panelGroup>
				<p:message for="name2" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="phoneNumber" required="true" size="25"
						value="#{userDialog.model.phoneNumber}" />
					<label>Phone Number</label>
				</h:panelGroup>
				<p:message for="phoneNumber" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<p:selectOneMenu id="selectedGender" converter="genderConverter"
					value="#{userDialog.model.gender}" var="gender" style="width:200px"
					panelStyle="width:200px" required="true">
					<f:selectItem itemLabel="Select Gender" itemValue="#{null}" />
					<f:selectItems value="#{userDialog.listOfGenders}" var="gender"
						itemLabel="#{gender.name}" itemValue="#{gender}" />
					<p:column>
						<h:outputText value="#{gender.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedGender" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />


			</h:panelGrid>
			<h:panelGrid columns="2" cellpadding="3"
				style="margin-left: 10px !important;">
				<p:spacer height="25" />
				<p:spacer height="25" />
				<p:selectOneMenu id="selectedYodimeUserType"
					converter="yodimeAccountTypeConverter"
					value="#{userDialog.model.yodimeAccountType}" var="accountType"
					style="width:230px" panelStyle="width:230px" required="true"
					rendered="#{userDialog.model.yodimeAccountTypeStatus.displayText}">
					<f:selectItem itemLabel="Select Category" itemValue="#{null}" />
					<f:selectItems value="#{userDialog.listOfYodimeAccountTypes}"
						var="accountType" itemLabel="#{accountType.name}"
						itemValue="#{accountType}" />
					<p:column>
						<h:outputText value="#{accountType.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedYodimeUserType" display="icon"
					rendered="#{userDialog.model.yodimeAccountTypeStatus.displayText}" />

				<p:selectOneMenu id="selectedBulkpaymentUserType"
					converter="bulkpaymentAccountTypeConverter"
					value="#{userDialog.model.bulkpaymentAccountType}"
					var="accountType" style="width:230px" panelStyle="width:230px"
					required="true"
					rendered="#{userDialog.model.bulkpaymentAccountTypeStatus.displayText}">
					<f:selectItem itemLabel="Select Category" itemValue="#{null}" />
					<f:selectItems value="#{userDialog.listOfBulkpaymentAccountTypes}"
						var="accountType" itemLabel="#{accountType.name}"
						itemValue="#{accountType}" />
					<p:column>
						<h:outputText value="#{accountType.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedBulkpaymentUserType" display="icon"
					rendered="#{userDialog.model.bulkpaymentAccountTypeStatus.displayText}" />

				<p:selectOneMenu id="selectedCollectionsUserType"
					converter="collectionsAccountTypeConverter"
					value="#{userDialog.model.collectionsAccountType}"
					var="accountType" style="width:230px" panelStyle="width:230px"
					required="true"
					rendered="#{userDialog.model.collectionsAccountTypeStatus.displayText}">
					<f:selectItem itemLabel="Select Category" itemValue="#{null}" />
					<f:selectItems value="#{userDialog.listOfCollectionsAccountTypes}"
						var="accountType" itemLabel="#{accountType.name}"
						itemValue="#{accountType}" />
					<p:column>
						<h:outputText value="#{accountType.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedCollectionsUserType" display="icon"
					rendered="#{userDialog.model.collectionsAccountTypeStatus.displayText}" />

				<p:selectOneMenu id="selectedAdminUserType"
					converter="yodimeAdminAccountTypeConverter"
					value="#{userDialog.model.yodimeAdminAccountType}"
					var="accountType" style="width:230px" panelStyle="width:230px"
					required="true"
					rendered="#{userDialog.model.yodimeAdminAccountTypeStatus.displayText}">
					<f:selectItem itemLabel="Select Category" itemValue="#{null}" />
					<f:selectItems value="#{userDialog.listOfYodimeAdminAccountTypes}"
						var="accountType" itemLabel="#{accountType.name}"
						itemValue="#{accountType}" />
					<p:column>
						<h:outputText value="#{accountType.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="selectedAdminUserType" display="icon"
					rendered="#{userDialog.model.yodimeAdminAccountTypeStatus.displayText}" />
				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="email" required="true" label="email" size="25"
						value="#{userDialog.model.emailAddress}">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<label>Email</label>
				</h:panelGroup>
				<p:message for="email" display="icon" />


				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:inputText id="uname" value="#{userDialog.model.username}"
						required="true" label="uname" size="25" />
					<label>Username</label>
				</h:panelGroup>
				<p:message for="uname" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:password id="pwd1" value="#{userDialog.model.clearTextPassword}"
						match="pwd2" label="Password 1" required="true" feedback="true"
						inline="true" size="25" />
					<label>Password</label>
				</h:panelGroup>
				<p:message for="pwd1" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<h:panelGroup styleClass="md-inputfield">
					<p:password id="pwd2" value="#{userDialog.model.clearTextPassword}"
						label="Password 2" size="25" required="true" />
					<label>Confirm Password</label>
				</h:panelGroup>
				<p:message for="pwd2" display="icon" />

				<p:outputPanel styleClass="tableFacet-rightAligned">
					<p:spacer width="120" height="10" />
					<p:commandButton id="saveBtn" action="#{userDialog.save}"
						ajax="true" value="Save" update="userFormId" validateClient="true"
						icon="#{recordsCountController.formIcon}"
						styleClass="#{recordsCountController.formButtonColor}" />
				</p:outputPanel>
				<p:spacer height="5" />
			</h:panelGrid>
		</h:panelGrid>
		<p:blockUI block="userFormId" trigger="userFormId:saveBtn">
			<p:graphicImage value="/resources/images/workingicon.png" />
		</p:blockUI>
	</h:form>
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>
</html>