<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ShowOnMobile">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h:form id="breadCrumb"
								rendered="#{componentRenderer.administrator}">
								<p:breadCrumb homeDisplay="text">
									<p:menuitem value="" />
									<p:menuitem value="Home"
										style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
										url="#{navigationController.homePage}" />
									<p:menuitem value="Registered users"
										url="#{navigationController.usersView}" />
								</p:breadCrumb>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="userRoles">
							<p:outputLabel value="Roles for #{userRoles.model.fullName}" />
							<p:spacer height="20" />
							<p:panel header="Select Roles">
								<p:pickList id="pickList" value="#{userRoles.roles}" var="role"
									itemLabel="#{role.name}" itemValue="#{role}"
									showSourceControls="true" showTargetControls="true"
									showCheckbox="false" showSourceFilter="true"
									showTargetFilter="true" filterMatchMode="contains"
									required="false" converter="roleConverter" />

								<p:outputPanel styleClass="tableFacet-rightAligned">
									<p:spacer width="380" height="10" />

									<p:commandButton action="UsersView.xhtml?faces-redirect=true"
										ajax="true" value="Back" update="userRoles"
										styleClass="#{recordsCountController.togglerColor}"
										icon="fa fa-backward" />
									<p:spacer width="5" />
									<p:commandButton id="saveBtn" action="#{userRoles.save}"
										ajax="true" value="Save" update="userRoles"
										styleClass="#{recordsCountController.formButtonColor}"
										icon="#{recordsCountController.formIcon}"
										style="margin-bottom:10px; margin-top:10px;" />
								</p:outputPanel>
							</p:panel>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
