<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ShowOnDesktop">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h:form id="breadCrumb"
								rendered="#{componentRenderer.administrator}">
								<p:breadCrumb homeDisplay="text">
									<p:menuitem value="" />
									<p:menuitem value="Home"
										style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
										url="#{navigationController.homePage}" />
									<p:menuitem value="Registered users"
										url="#{navigationController.usersView}" />
								</p:breadCrumb>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="userFormId"
							rendered="#{componentRenderer.administrator}">
							<p:dataTable id="userTable" var="user" value="#{usersView}"
								widgetVar="userTable"
								emptyMessage="#{recordsCountController.dataEmptyMessage}"
								lazy="true"
								rows="#{recordsCountController.maxumumRecordsPerPage}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								paginator="true" paginatorPosition="both"
								paginatorAlwaysVisible="false" rowIndexVar="row" reflow="true"
								rowKey="#{user.id}" editable="true">


								<f:facet name="header">
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:inputText size="#{recordsCountController.searchFieldSize}"
											placeholder="#{recordsCountController.searchPlaceHolder}"
											id="#{recordsCountController.globalFilterId}"
											onkeyup="PF('userTable').filter()" update="userTable" />
										<p:spacer width="10" />
										<p:commandButton id="searchButton" update="userTable"
											value="Search"
											styleClass="#{recordsCountController.searchButtonColor}"
											style="margin-bottom:10px;" icon="fa fa-search" />
										<p:spacer width="5" />

										<p:commandButton icon="fa fa-plus"
											action="#{navigationController.getUserForm}" value="New"
											update="userTable"
											styleClass="#{recordsCountController.operationButtonColor}"
											style="margin-bottom:10px;">
											<f:setPropertyActionListener target="#{userForm.model}"
												value="#{null}" />
											<p:ajax event="dialogReturn" update="userTable" />
										</p:commandButton>

									</p:outputPanel>
								</f:facet>

								<p:column style="font-size: 14px !important;" width="30"
									headerText="No." filterBy="#{row + 1}"
									filterMatchMode="contains" filterStyle="display:none">
									<h:outputText value="#{row + 1}" />
								</p:column>
								<p:column style="font-size: 14px !important;" width="100"
									filterBy="#{user.dateChanged}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Date" />
									</f:facet>
									<h:outputText value="#{user.dateChanged}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="140"
									filterBy="#{user.fullName}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Account Name" />
									</f:facet>
									<h:outputText value="#{user.fullName}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="100"
									filterBy="#{user.username}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="User Name" />
									</f:facet>
									<h:outputText value="#{user.username}" />
								</p:column>
								<p:column style="font-size: 14px !important;" width="70"
									styleClass="tableColumn-leftAligned"
									filterBy="#{user.gender.name}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Gender" />
									</f:facet>
									<h:outputText value="#{user.gender.name}" />
								</p:column>
								<p:column style="font-size: 14px !important;" width="100"
									styleClass="tableColumn-leftAligned"
									filterBy="#{user.phoneNumber}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Phone number" />
									</f:facet>
									<h:outputText value="#{user.phoneNumber}" />
								</p:column>
								
								<p:column style="font-size: 14px !important;" width="100"
									styleClass="tableColumn-leftAligned"
									filterBy="#{user.userId}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="User Id" />
									</f:facet>
									<h:outputText value="#{user.userId}" />
								</p:column>

								<p:column style="font-size: 14px !important;" width="50"
									styleClass="tableColumn-leftAligned"
									filterBy="#{user.recordStatus.name}" filterMatchMode="contains"
									filterStyle="display:none">
									<f:facet name="header">
										<h:outputText value="Status" />
									</f:facet>
									<h:outputText value="#{user.recordStatus.name}" />
								</p:column>
								<p:column headerText="Options" width="110" exportable="false"
									style="font-size: 14px !important;"
									styleClass="tableColumn-rightAligned" filteredBy="#{user}"
									filterMatchMode="contains" filterStyle="display:none">
									<p:commandLink actionListener="#{editUserDialog.show}">
										<p:graphicImage value="/static/images/edit.png" width="20"
											height="20" />
										<f:setPropertyActionListener target="#{editUserDialog.model}"
											value="#{user}" />
										<p:ajax event="dialogReturn" update="userTable" />
									</p:commandLink>
									<p:spacer width="10" />
									<p:commandLink action="#{navigationController.getUserRoles}">
										<p:graphicImage value="/static/images/role.png" width="20"
											height="20" />
										<f:setPropertyActionListener target="#{userRoles.model}"
											value="#{user}" />
										<p:ajax event="dialogReturn" update="userTable" />
									</p:commandLink>
								</p:column>

							</p:dataTable>
							<p:blockUI block="userFormId"
								trigger="userFormId:userTable userFormId:userTable:searchButton">
								<p:graphicImage value="/resources/images/workingicon.png" />
							</p:blockUI>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>