<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h:form id="breadCrumb"
							rendered="#{componentRenderer.administrator}">
							<p:breadCrumb homeDisplay="text">
								<p:menuitem value="" />
								<p:menuitem value="Home"
									style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
									url="#{navigationController.homePage}" />
								<p:menuitem value="Registered users"
									url="#{navigationController.usersView}" />
							</p:breadCrumb>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<h:form id="userFormId">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card" style="cellpadding: 0px !important;">
						<div class="shadow-box ui-shadow-5">

							<h:panelGrid columns="2" cellpadding="3"
								style="margin-left: 10px !important;">
								<h:panelGrid columns="2" cellpadding="3"
									style="margin-left: 10px !important;">

									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="name1" value="#{userForm.model.firstName}"
											required="true" size="34" />
										<label>First Name</label>
									</h:panelGroup>
									<p:message for="name1" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="name2" value="#{userForm.model.lastName}"
											required="true" size="34" />
										<label>Last Name</label>
									</h:panelGroup>
									<p:message for="name2" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="phoneNumber" required="true" size="34"
											value="#{userForm.model.phoneNumber}" />
										<label>Phone Number</label>
									</h:panelGroup>
									<p:message for="phoneNumber" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<p:selectOneMenu id="selectedCountry"
										converter="countryConverter" value="#{userForm.model.country}"
										var="country" style="width:270px" panelStyle="width:360px"
										required="true" effect="fade" autoComplete="true"
										filter="true" scrollHeight="10" filterMatchMode="startsWith">
										<f:selectItem itemLabel="Select Country" itemValue="#{null}" />
										<f:selectItems value="#{userForm.listOfCountries}"
											var="country" itemLabel="#{country}" itemValue="#{country}" />
										<p:column>
											<h:outputText value="#{country}" />
										</p:column>
									</p:selectOneMenu>
									<p:message for="selectedCountry" display="icon" />


									<p:spacer height="5" />
									<p:spacer height="5" />
									<p:selectOneMenu id="selectedGender"
										converter="genderConverter" value="#{userForm.model.gender}"
										var="gender" style="width:270px" panelStyle="width:360px"
										required="true" effect="fade" autoComplete="true"
										filter="true" scrollHeight="10" filterMatchMode="startsWith">
										<f:selectItem itemLabel="Select Gender" itemValue="#{null}" />
										<f:selectItems value="#{userForm.listOfGenders}" var="gender"
											itemLabel="#{gender.name}" itemValue="#{gender}" />
										<p:column>
											<h:outputText value="#{gender.name}" />
										</p:column>
									</p:selectOneMenu>
									<p:message for="selectedGender" display="icon" />

									<p:spacer height="40" />
									<p:spacer height="40" />

								</h:panelGrid>

								<h:panelGrid columns="2" cellpadding="3"
									style="margin-left: 50px !important;">

									
									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="email" required="true" label="email"
											size="34" value="#{userForm.model.emailAddress}">
											<f:validateRegex
												pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
										</p:inputText>
										<label>Email</label>
									</h:panelGroup>
									<p:message for="email" display="icon" />


									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="uname" value="#{userForm.model.username}"
											required="true" label="uname" size="34" />
										<label>Username</label>
									</h:panelGroup>
									<p:message for="uname" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:password id="pwd1"
											value="#{userForm.model.clearTextPassword}" match="pwd2"
											label="Password 1" required="true" feedback="true"
											inline="true" size="34" />
										<label>Password</label>
									</h:panelGroup>
									<p:message for="pwd1" display="icon" />

									<p:spacer height="5" />
									<p:spacer height="5" />
									<h:panelGroup styleClass="md-inputfield">
										<p:password id="pwd2"
											value="#{userForm.model.clearTextPassword}"
											label="Password 2" size="34" required="true" />
										<label>Confirm Password</label>
									</h:panelGroup>
									<p:message for="pwd2" display="icon" />

									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:commandButton id="saveBtn" action="#{userForm.save}"
											ajax="true" value="Save" update="userFormId"
											validateClient="true"
											icon="#{recordsCountController.formIcon}"
											styleClass="#{recordsCountController.formButtonColor}" />
									</p:outputPanel>
									<p:spacer height="10" />
								</h:panelGrid>
							</h:panelGrid>
						</div>
					</div>
				</div>
			</div>
			

			<p:blockUI block="userFormId" trigger="userFormId:saveBtn">
				<p:graphicImage value="/resources/images/workingicon.png" />
			</p:blockUI>
		</h:form>
	</ui:define>
</ui:composition>