<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ShowOnDesktop">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h:form id="breadCrumb">
								<p:breadCrumb homeDisplay="text">
									<p:menuitem value="" url="#" />
									<p:menuitem value="Home"
										style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
										url="#{navigationController.homePage}" />
									<p:menuitem value="Durations"
										url="#{navigationController.durationInfo}" />
								</p:breadCrumb>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="durationInfoTableId">
							<p:dataTable id="durationInfoTable" var="durationInfo"
								value="#{durationInformationsView}" widgetVar="durationInfoTable"
								emptyMessage="#{recordsCountController.dataEmptyMessage}"
								lazy="true"
								rows="#{recordsCountController.maxumumRecordsPerPage}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								paginator="true" paginatorPosition="both"
								paginatorAlwaysVisible="false" rowIndexVar="row" reflow="true"
								rowKey="#{durationInfo.id}" editable="true">

								<f:facet name="header">
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:inputText size="#{recordsCountController.searchFieldSize}"
											placeholder="#{recordsCountController.searchPlaceHolder}"
											id="#{recordsCountController.globalFilterId}"
											onkeyup="PF('durationInfoTable').filter()"
											update="durationInfoTable" />
										<p:spacer width="10" />
										<p:commandButton id="searchButton" update="durationInfoTable"
											value="Search"
											styleClass="#{recordsCountController.searchButtonColor}"
											style="margin-bottom:10px;" icon="fa fa-search" />
										<p:spacer width="5" />

										<p:commandButton icon="fa fa-plus"
											actionListener="#{durationInfoDialog.show}" value="New"
											update="durationInfoTable"
											styleClass="#{recordsCountController.operationButtonColor}"
											style="margin-bottom:10px;">
											<f:setPropertyActionListener
												target="#{durationInfoDialog.model}" value="#{null}" />
											<p:ajax event="dialogReturn" update="durationInfoTable" />
										</p:commandButton>
									</p:outputPanel>
								</f:facet>
								<p:column width="30" headerText="No.">
									<h:outputText value="#{row + 1}" />
								</p:column>

								<p:column filterBy="#{durationInfo.delayInMinutes}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Delay in Minutes" />
									</f:facet>
									<h:outputText value="#{durationInfo.delayInMinutes}" />
								</p:column>

								<p:column filterBy="#{durationInfo.distanceApart}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Distance Apart in metres" />
									</f:facet>
									<h:outputText value="#{durationInfo.distanceApart}" />
								</p:column>


								<p:column headerText="Options" width="50"
									style="font-size: 14px !important;">
									<p:commandLink actionListener="#{durationInfoDialog.show}"
										rendered="#{durationInfo.editStatus}">
										<p:graphicImage value="/static/images/edit.png" width="20"
											height="20" />
										<f:setPropertyActionListener
											target="#{durationInfoDialog.model}" value="#{durationInfo}" />
										<p:ajax event="dialogReturn" update="durationInfoTable" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
							
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>