<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ShowOnDesktop">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h:form id="breadCrumb"
								rendered="#{componentRenderer.administrator}">
								<p:breadCrumb homeDisplay="text">
									<p:menuitem value="" url="#" />
									<p:menuitem value="Home"
										style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
										url="#{navigationController.homePage}" />
									<p:menuitem value="App Type"
										url="#{navigationController.viewAppType}" />
								</p:breadCrumb>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="appTypeTableId"
							rendered="#{componentRenderer.administrator}">
							<p:dataTable id="appTypeTable" var="appType"
								value="#{appTypesView}" widgetVar="appTypeTable"
								emptyMessage="#{recordsCountController.dataEmptyMessage}"
								lazy="true"
								rows="#{recordsCountController.maxumumRecordsPerPage}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								paginator="true" paginatorPosition="both"
								paginatorAlwaysVisible="false" rowIndexVar="row" reflow="true"
								rowKey="#{appType.id}" editable="true">

								<f:facet name="header">
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:inputText size="#{recordsCountController.searchFieldSize}"
											placeholder="#{recordsCountController.searchPlaceHolder}"
											id="#{recordsCountController.globalFilterId}"
											onkeyup="PF('appTypeTable').filter()" update="appTypeTable" />
										<p:spacer width="10" />
										<p:commandButton id="searchButton" update="appTypeTable"
											value="Search"
											styleClass="#{recordsCountController.searchButtonColor}"
											style="margin-bottom:10px;" icon="fa fa-search" />
										<p:spacer width="5" />

										<p:commandButton icon="fa fa-plus"
											actionListener="#{appTypeDialog.show}" value="New"
											update="appTypeTable"
											styleClass="#{recordsCountController.operationButtonColor}"
											style="margin-bottom:10px;">
											<f:setPropertyActionListener target="#{appTypeDialog.model}"
												value="#{null}" />
											<p:ajax event="dialogReturn" update="appTypeTable" />
										</p:commandButton>
									</p:outputPanel>
								</f:facet>
								<p:column width="30" headerText="No.">
									<h:outputText value="#{row + 1}" />
								</p:column>

								<p:column filterBy="#{appType.dateChanged}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Date" />
									</f:facet>
									<h:outputText value="#{appType.dateChanged}" />
								</p:column>

								<p:column filterBy="#{appType.methodType.name}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Method" />
									</f:facet>
									<h:outputText value="#{appType.methodType.name}" />
								</p:column>

								<p:column filterBy="#{appType.operationStatus.name}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Activate" />
									</f:facet>
									<h:outputText value="#{appType.operationStatus.name}" />
								</p:column>

								<p:column headerText="Options" width="50"
									style="font-size: 14px !important;">
									<p:commandLink actionListener="#{appTypeDialog.show}">
										<p:graphicImage value="/static/images/edit.png" width="20"
											height="20" />
										<f:setPropertyActionListener target="#{appTypeDialog.model}"
											value="#{appType}" />
										<p:ajax event="dialogReturn" update="appTypeTable" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
						
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>