<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/dialog-template.xhtml">

	<ui:define name="content">
		<title>App Type Form</title>
		<h:form id="appTypeForm">
			<h:panelGrid columns="2" cellpadding="3"
				style="margin-left: 10px !important;">
				<p:spacer height="5" />
				<p:spacer height="5" />
				<p:selectOneMenu id="appType" converter="methodTypeConverter"
					value="#{appTypeDialog.model.methodType}" var="method"
					style="width:270px" panelStyle="width:300px" required="true"
					effect="fade" autoComplete="true" filter="true" scrollHeight="10"
					filterMatchMode="startsWith">
					<f:selectItem itemLabel="Select Method Type" itemValue="#{null}" />
					<f:selectItems value="#{appTypeDialog.listOfMethodTypes}"
						var="method" itemLabel="#{method.name}" itemValue="#{method}" />
					<p:column>
						<h:outputText value="#{method.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="appType" display="icon" />

				<p:spacer height="5" />
				<p:spacer height="5" />
				<p:selectOneMenu id="status" converter="operationStatusConverter"
					value="#{appTypeDialog.model.operationStatus}" var="method"
					style="width:270px" panelStyle="width:300px" required="true"
					effect="fade" autoComplete="true" filter="true" scrollHeight="10"
					filterMatchMode="startsWith">
					<f:selectItem itemLabel="Select Status" itemValue="#{null}" />
					<f:selectItems value="#{appTypeDialog.listOfOperationStatus}"
						var="method" itemLabel="#{method.name}" itemValue="#{method}" />
					<p:column>
						<h:outputText value="#{method.name}" />
					</p:column>
				</p:selectOneMenu>
				<p:message for="status" display="icon" />

				<p:outputPanel styleClass="tableFacet-rightAligned">
					<p:commandButton id="saveBtn" action="#{appTypeDialog.save}"
						ajax="true" value="Save" update="appTypeForm"
						validateClient="true" icon="#{recordsCountController.formIcon}"
						styleClass="#{recordsCountController.formButtonColor}" />
				</p:outputPanel>
				<p:spacer height="5" />
			</h:panelGrid>
			<p:blockUI block="appTypeForm" trigger="appTypeForm:saveBtn">
				<p:graphicImage value="/resources/images/workingicon.png" />
			</p:blockUI>
		</h:form>
	</ui:define>
</ui:composition>