<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ShowOnDesktop">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h:form id="breadCrumb">
								<p:breadCrumb homeDisplay="text">
									<p:menuitem value="" url="#" />
									<p:menuitem value="Home"
										style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
										url="#{navigationController.homePage}" />
									<p:menuitem value="Countries"
										url="#{navigationController.countriesView}" />
								</p:breadCrumb>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card" style="cellpadding: 0px !important;">
					<div class="shadow-box ui-shadow-5">
						<h:form id="countriesTableId">
							<p:dataTable id="countriesTable" var="country"
								value="#{countriesView}" widgetVar="countriesTable"
								emptyMessage="#{recordsCountController.dataEmptyMessage}"
								lazy="true"
								rows="#{recordsCountController.maxumumRecordsPerPage}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
								paginator="true" paginatorPosition="both"
								paginatorAlwaysVisible="false" rowIndexVar="row" reflow="true"
								rowKey="#{country.id}" editable="true">

								<f:facet name="header">
									<p:outputPanel styleClass="tableFacet-rightAligned">
										<p:inputText size="#{recordsCountController.searchFieldSize}"
											placeholder="#{recordsCountController.searchPlaceHolder}"
											id="#{recordsCountController.globalFilterId}"
											onkeyup="PF('countriesTable').filter()"
											update="countriesTable" />
										<p:spacer width="10" />
										<p:commandButton id="searchButton" update="countriesTable"
											value="Search"
											styleClass="#{recordsCountController.searchButtonColor}"
											style="margin-bottom:10px;" icon="fa fa-search" />
										<p:spacer width="5" />

										<p:commandButton icon="fa fa-plus"
											actionListener="#{countryDialog.show}" value="New"
											update="countriesTable"
											styleClass="#{recordsCountController.operationButtonColor}"
											style="margin-bottom:10px;">
											<f:setPropertyActionListener target="#{countryDialog.model}"
												value="#{null}" />
											<p:ajax event="dialogReturn" update="countriesTable" />
										</p:commandButton>
									</p:outputPanel>
								</f:facet>
								<p:column width="30" headerText="No.">
									<h:outputText value="#{row + 1}" />
								</p:column>

								<p:column filterBy="#{country.name}" width="100"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Country Name" />
									</f:facet>
									<h:outputText value="#{country.name}" />
								</p:column>
								<p:column filterBy="#{country.postalCode}" width="80"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Calling Code" />
									</f:facet>
									<h:outputText value=" + #{country.postalCode}" />
								</p:column>

								<p:column filterBy="#{country.recordStatus.name}" width="80"
									filterMatchMode="contains" filterStyle="display:none"
									styleClass="tableColumn-leftAligned">
									<f:facet name="header">
										<h:outputText value="Status" />
									</f:facet>
									<h:outputText value="#{country.recordStatus.name}" />
								</p:column>
								<p:column headerText="Options" width="50"
									style="font-size: 14px !important;">
									<p:commandLink actionListener="#{countryDialog.show}"
										rendered="#{country.editStatus}">
										<p:graphicImage value="/static/images/edit.png" width="20"
											height="20" />
										<f:setPropertyActionListener target="#{countryDialog.model}"
											value="#{country}" />
										<p:ajax event="dialogReturn" update="countriesTable" />
									</p:commandLink>
									<p:spacer width="5" />
									<p:commandLink actionListener="#{activateCountryDialog.show}"
										rendered="#{country.activateStatus}">
										<p:graphicImage value="/static/images/activate.png" width="20"
											height="20" />
										<f:setPropertyActionListener
											target="#{activateCountryDialog.model}" value="#{country}" />
										<p:ajax event="dialogReturn" update="countriesTable" />
									</p:commandLink>
									<p:commandLink actionListener="#{deactivateCountryDialog.show}"
										rendered="#{country.deactivateStatus}">
										<p:graphicImage value="/static/images/deactivate.png"
											width="20" height="20" />
										<f:setPropertyActionListener
											target="#{deactivateCountryDialog.model}" value="#{country}" />
										<p:ajax event="dialogReturn" update="countriesTable" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
							
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>