<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ShowOnMobile">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h:form id="breadCrumb">
								<p:breadCrumb homeDisplay="text">
									<p:menuitem value="" url="#" />
									<p:menuitem value="Home"
										style="font-size: 13px; margin-left: 5px !important; font-weight: bold !important;"
										url="#{navigationController.homePage}" />
									<p:menuitem value="Countries"
										url="#{navigationController.countriesView}" />
								</p:breadCrumb>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<div class="shadow-box ui-shadow-5">
						<h3 style="margin-left: 10px !important;">Add Country Form</h3>
						<h:form id="countryForm">
							<h:panelGrid columns="2" cellpadding="3"
								style="margin-left: 10px !important;">
								<p:spacer height="5" />
								<p:spacer height="5" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="name" required="true" size="22" title="Name"
										value="#{countryForm.countryName}" />
									<label>Name</label>
								</h:panelGroup>
								<p:message for="name" display="icon" />

								<p:spacer height="5" />
								<p:spacer height="5" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="postalcode" required="true" size="22"
										title="Postal code" value="#{countryForm.postalCode}">
										<f:convertNumber longOnly="true" />
									</p:inputText>
									<label>Postal Code</label>
								</h:panelGroup>
								<p:message for="postalcode" display="icon" />


								<p:spacer height="5" />
								<p:spacer height="5" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputTextarea id="description" rows="2" cols="22"
										valign="top" value="#{countryForm.countryDescription}"
										title="Description" required="true" />
									<label>Description</label>
								</h:panelGroup>
								<p:message for="description" display="icon" />

								<p:outputPanel styleClass="tableFacet-rightAligned">
									<p:spacer width="70" height="5" />
									<p:commandButton id="saveBtn"
										action="#{countryForm.saveCountry}"
										icon="#{recordsCountController.formIcon}" ajax="true"
										value="Save" update="countryForm" validateClient="true"
										styleClass="#{recordsCountController.formButtonColor}" />
								</p:outputPanel>
								<p:spacer height="5" />
							</h:panelGrid>
							<p:blockUI block="countryForm" trigger="countryForm:saveBtn">
								<p:graphicImage value="/resources/images/workingicon.png" />
							</p:blockUI>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<h:form rendered="#{countryUpload.renderUploadView}">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<div class="shadow-box ui-shadow-5">
							<h4 style="margin-left: 10px !important;">Upload Countries
								(xls and xlsx) Country names must appear in the first column.</h4>
							<p:fileUpload id="upload"
								fileUploadListener="#{countryUpload.uploadCountries}"
								mode="advanced" dragDropSupport="false" sizeLimit="1000000"
								fileLimit="3" allowTypes="/(\.|\/)(xls|xlsx)$/" />
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>

</ui:composition>