<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Home</title>
	<script type="text/javascript">
		$(function() {
			var menu = $('#menu');

			$('#menu-button').on('click', function(e) {
				if (menu.hasClass('lmenu-active')) {
					menu.addClass('fadeOutUp');

					setTimeout(function() {
						menu.removeClass('fadeOutUp fadeInDown lmenu-active');
					}, 500);
				} else {
					menu.addClass('lmenu-active fadeInDown');
				}
				e.preventDefault();
			});

			menu.find('a').on('click', function() {
				menu.removeClass('fadeOutUp fadeInDown lmenu-active');
			});
		});
	</script>
</h:head>

<h:body styleClass="landing-body remove-hscroller">
	<div id="home" class="landing-wrapper">
		<div id="header" class="landing-nav scrolled">
			<div class="pre-header">
				<div class="pre-header-content">
					<a href="#{request.contextPath}/Index"><p:graphicImage
							name="images/logo.png" library="ultima-layout"
							styleClass="landing-logo" /></a> <a id="menu-button" href="#"> <span
						class="fa fa-bars"></span>
					</a>

					<ul id="menu" class="animated">
						<li><a href="#{request.contextPath}/Index">HOME</a></li>
						<li><a href="#about_us">ABOUT US</a></li>
						<li><a href="#features">FEATURES</a></li>
						<li><a href="#pricing">PRICING</a></li>
						<li><a href="#contact-us">CONTACT US</a></li>
						<li><a href="#{request.contextPath}/SignUp">SIGN UP</a></li>
						<li><a href="#{request.contextPath}/ServiceLogin">LOGIN</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="introduction" class="intro-style">
			<p:imageSwitch id="images" widgetVar="gallery" effect="fade"
				slideshowAuto="true" speed="4000">
				<p:graphicImage name="images/landing-page/slider1.png"
					style="background-size: cover; width:100%;" styleClass="content"
					library="ultima-layout" />
				<p:graphicImage name="images/landing-page/slider2.png"
					style="background-size: cover; width:100%;" styleClass="content"
					library="ultima-layout" />
				<p:graphicImage name="images/landing-page/slider3.png"
					style="background-size: cover; width:100%;" styleClass="content"
					library="ultima-layout" />
				<p:graphicImage name="images/landing-page/slider4.png"
					style="background-size: cover; width:100%;" styleClass="content"
					library="ultima-layout" />
			</p:imageSwitch>
		</div>

		<div id="about_us">
			<div class="about_us-content">
				<h2 style="margin-top: 50px;">ABOUT US</h2>
				<div class="color-white">
					<h3>SMSUpdater is a simplified Monitoring and Evaluation
						Solution (M&amp;E) that systemizes daily collection of business
						statistics from one or multiple businesses, automates instant
						analysis of business data into performance reports in easy to
						understand tables &amp; graphs that can be accessed &amp; shared
						24/7 on your mobile device or desktop.</h3>
				</div>
			</div>
		</div>

		<div id="features">
			<div class="features-content">
				<h2>FEATURES</h2>

				<div class="ui-g">
					<div class="ui-g-12 ui-md-3">
						<i class="fa fa-share-alt icon-color-blue"
							style="font-size: 5rem;" />
						<h3>Effortless Data Collection</h3>
						<p>SMS, Android App &amp; Website</p>
					</div>
					<div class="ui-g-12 ui-md-3">
						<i class="fa fa-bar-chart-o icon-color-red"
							style="font-size: 5rem;" />
						<h3>Automated Analysis</h3>
						<p>Instant Financial Tables &amp; Graphs</p>
					</div>
					<div class="ui-g-12 ui-md-3">
						<i class="fa fa-file-text icon-color-yellow"
							style="font-size: 5rem;" />
						<h3>Performance Reports 24/7</h3>
						<p>Daily, Weekly, Monthly &amp; Annual</p>
					</div>
					<div class="ui-g-12 ui-md-3">
						<i class="fa fa-save icon-color-purple" style="font-size: 5rem;" />
						<h3>Lifetime Storage</h3>
						<p>Safe &amp; Secure Cloud Storage</p>
					</div>
				</div>
			</div>
		</div>

		<div id="pricing">
			<div class="pricing-content">
				<h2>PRICING</h2>

				<div class="pricing-box pricing-basic">
					<div class="pricing-header">
						<div class="ui-g">
							<div class="ui-g-6">
								<h3>STANDARD</h3>
							</div>
							<div class="ui-g-6">
								<h3>500/=</h3>
								<p>PER SMS (Negotiable)</p>
							</div>
						</div>
					</div>

					<div class="pricing-features">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Table &amp; Graph</span>
							</div>
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Accessible 24/7</span>
							</div>
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Weekly Updates</span>
							</div>
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Multiple Accounts</span>
							</div>
						</div>
					</div>

					<div class="pricing-footer">
						<a href="#">Get Started</a>
					</div>
				</div>

				<div class="pricing-box pricing-pro">
					<div class="pricing-header">
						<div class="ui-g">
							<div class="ui-g-6">
								<h3>ENTERPRISE</h3>
							</div>
							<div class="ui-g-6">
								<h3>1000/=</h3>
								<p>PER SMS (Negotiable)</p>
							</div>
						</div>
					</div>

					<div class="pricing-features">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">All Standard Features</span>
							</div>
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Customizable Formula</span>
							</div>
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Customized Reports</span>
							</div>
							<div class="ui-g-12 ui-md-6">
								<span class="pricing-feature-icon"><i class="fa fa-check" /></span>
								<span class="pricing-feature-text">Printable &amp;
									Sharable</span>
							</div>
						</div>
					</div>

					<div class="pricing-footer">
						<a href="#">Get Started</a>
					</div>
				</div>
			</div>
		</div>

		<div id="contact-us">
			<div class="contact-us-content" style="height: 100% !important;">
				<h2>CONTACT US</h2>

				<div class="contact-us-box contact-us-basic"
					style="height: 100% !important;">
					<div class="contact-us-features">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-6">
								<h:form id="contactUsForm">

									<div class="ui-g-12 ui-lg-12">
										<div
											class="ui-g-12 ui-md-6 contact_us-box contact_us-professional">
											<h:panelGrid columns="2" cellpadding="2"
												style="margin-left: 20px !important;">
												<h:panelGroup styleClass="md-inputfield">
													<p:inputText id="name" required="true" size="30"
														title="Name" />
													<label>Full Name</label>
												</h:panelGroup>
												<p:message for="name" display="icon" />

												<p:spacer height="5" />
												<p:spacer height="5" />
												<h:panelGroup styleClass="md-inputfield">
													<p:inputText id="email" required="true" label="email"
														size="30" requiredMessage="Enter an email address"
														validatorMessage="Invalid email format">
														<f:validateRegex
															pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
													</p:inputText>

													<label>Email</label>
												</h:panelGroup>
												<p:message for="email" display="icon" />


												<p:spacer height="5" />
												<p:spacer height="5" />
												<h:panelGroup styleClass="md-inputfield">
													<p:inputTextarea id="comment" rows="3" cols="30"
														valign="top" title="Comment" required="true" />
													<label>Comment</label>
												</h:panelGroup>
												<p:message for="comment" display="icon" />

												<p:outputPanel styleClass="tableFacet-rightAligned">
													<p:commandButton id="saveBtn" action="#" icon="fa fa-check"
														ajax="true" value="Submit" update="contactUsForm"
														validateClient="true" styleClass="Primary Button" />
												</p:outputPanel>
												<p:spacer height="5" />
											</h:panelGrid>
										</div>
									</div>
								</h:form>
							</div>
						</div>
					</div>
				</div>

				<div class="contact-us-box contact-us-pro"
					style="height: 100% !important;">
					<div class="contact-us-header">
						<div class="ui-g">
							<div class="ui-g-12">
								<h3>All Standard Features</h3>
							</div>
							<div class="ui-g-12">
								<p>If you have any questions about our products or something
									else, Please email us or call us. We'll get in touch with you
									as soon as possible.</p>
							</div>
						</div>
					</div>

					<div class="contact-us-features">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-12">
								<span class="contact-us-feature-icon"><i
									class="fa fa-phone" /></span> <span class="contact-us-feature-text">(+256)
									702 766 873 / (+256) 782 766 873</span>
							</div>
							<div class="ui-g-12 ui-md-12">
								<span class="contact-us-feature-icon"><i
									class="fa fa-envelope" /></span> <span
									class="contact-us-feature-text">info@smsupdater.com</span>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="footer-content clearfix">
				<div class="footer-left">
					<div>Copyright © 2017 SMS Updater. All rights reserved</div>
				</div>
				<div class="footer-right icon-size">
					<a href="#"><i class="fa fa-twitter-square twitter" /></a> <a
						href="#"><i class="fa fa-facebook-square facebook" /></a>
				</div>
			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/landing-page.css"
		library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css"
		library="ultima-layout" />
</h:body>

</html>