<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Recover Password</title>
	<script type="text/javascript">
		$(function() {
			var menu = $('#menu');

			$('#menu-button').on('click', function(e) {
				if (menu.hasClass('lmenu-active')) {
					menu.addClass('fadeOutUp');

					setTimeout(function() {
						menu.removeClass('fadeOutUp fadeInDown lmenu-active');
					}, 500);
				} else {
					menu.addClass('lmenu-active fadeInDown');
				}
				e.preventDefault();
			});

			menu.find('a').on('click', function() {
				menu.removeClass('fadeOutUp fadeInDown lmenu-active');
			});
		});
	</script>
</h:head>

<h:body styleClass="landing-body remove-hscroller">
	<div id="home" class="landing-wrapper">
		<div id="header" class="landing-nav scrolled">
			<div class="pre-header">
				<div class="pre-header-content">
					<a id="menu-button" href="#"> <span class="fa fa-bars"></span>
					</a>

					<ul id="menu" class="animated">
						<li><a href="#{request.contextPath}/SignUp">SIGN UP</a></li>
						<li><a href="#{request.contextPath}/ServiceLogin">LOGIN</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="sign-up">
			<div class="sign-up-content" style="margin-top: 5em;">
				<h2>Forgot Your Password?</h2>

				<h:form id="forgotPassword">
					<div class="sign-up-box sign-up-basic"
						style="height: 100% !important;">
						<div class="sign-up-features">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-6">
									<div class="ui-g-12 ui-lg-12">
										<div
											class="ui-g-12 ui-md-6 contact_us-box contact_us-professional">
											<h:panelGrid columns="2" cellpadding="2"
												style="margin-left: 20px !important;">
												<h:panelGroup styleClass="md-inputfield">
													<p:inputText id="email" required="true" label="email"
														size="35" requiredMessage="Enter an email address"
														validatorMessage="Invalid email format">
														<f:validateRegex
															pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
													</p:inputText>

													<label>Enter Your Email</label>
												</h:panelGroup>
												<p:message for="email" display="icon" />

												<p:outputPanel styleClass="tableFacet-rightAligned">
													<p:commandButton id="saveBtn2" action="#"
														icon="fa fa-check" ajax="true" value="Submit"
														update="forgotPassword" validateClient="true"
														styleClass="Primary Button" />
												</p:outputPanel>
												<p:spacer height="5" />
											</h:panelGrid>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/landing-page.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.layout}.css"
		library="ultima-layout" />
</h:body>

</html>