<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="#{recordsCountController.author}" />
		<meta name="author contact"
			content="#{recordsCountController.authorContact}" />
		<meta name="author email"
			content="#{recordsCountController.authorEmail}" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<link rel="shortcut icon" type="image/png"
		href="#{request.contextPath}/resources/images/favicon.png" />
	<title>Sign Up</title>
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
	<h:outputScript name="js/clear_security_pin.js" library="ultima-layout" />
	<script type="text/javascript">
		$(function() {
			$('#menu-button').on('click', function(e) {
				var menu = $('#menu');
				if (menu.hasClass('lmenu-active')) {
					menu.addClass('fadeOutUp');

					setTimeout(function() {
						menu.removeClass('fadeOutUp fadeInDown lmenu-active');
					}, 500);
				} else {
					menu.addClass('lmenu-active fadeInDown');
				}
				e.preventDefault();
			});
		});
	</script>
</h:head>

<h:body styleClass="landing-body">
	<div class="landing-wrapper">
		<div id="header" class="yodime-nav scrolled menu-background">
			<div class="header-top clearfix">
				
				<ul id="menu" class="animated">
					<li><a href="#{request.contextPath}/SignUp"><i
							class="ui-icon ui-icon-person"></i><span> <p:outputLabel
									value="Sign Up" styleClass="landing-btn-link" />
						</span></a></li>
					<li><a href="#{request.contextPath}/ServiceLogin"><i
							class="ui-icon ui-icon-power"></i><span><p:outputLabel
									value="Login" styleClass="landing-btn-link" /></span></a></li>

				</ul>
			</div>
		</div>

		<div id="sign_up" style="width: 95%;" class="clearfix">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 sign_up-box sign_up-basic">
					<div class="card">
						<div class="sign_up-header">
							<span class="name">Register Account</span>
						</div>
						<div class="sign_up-div">
							<div class="ui-g-12 ui-lg-12"
								style="cellpadding: 3px !important; margin-bottom: 1em;">
								<div class="shadow-box ui-shadow-5">
									<h:form id="personalFormId">
										<div class="ui-g">
											<div class="ui-g-12 ui-lg-6">
												<div class="shadow-box ui-shadow-2">
													<h:panelGrid columns="2" cellpadding="3"
														style="margin-left: 20px !important;">
														<p:spacer height="5" />
														<p:spacer height="5" />

														<h:panelGroup styleClass="md-inputfield">
															<p:inputText id="fname"
																value="#{registrationForm.firstName}" required="true"
																label="fname" requiredMessage="Enter a first name"
																size="27"
																validatorMessage="Length is less than allowable minimum of '2'">
																<f:validateLength minimum="2" />
																<p:clientValidator />
															</p:inputText>
															<label>First Name</label>
														</h:panelGroup>
														<p:message for="fname" display="icon" />

														<p:spacer height="5" />
														<p:spacer height="5" />
														<h:panelGroup styleClass="md-inputfield">
															<p:inputText id="lname"
																value="#{registrationForm.lastName}" required="true"
																label="lname" requiredMessage="Enter a last name"
																size="27"
																validatorMessage="Length is less than allowable minimum of '2'">
																<f:validateLength minimum="2" />
																<p:clientValidator />
															</p:inputText>
															<label>Last Name</label>
														</h:panelGroup>
														<p:message for="lname" display="icon" />

														<p:spacer height="5" />
														<p:spacer height="5" />
														<h:panelGroup styleClass="md-inputfield">
															<p:inputText id="phoneNumber" required="false"
																label="phoneNumber" size="27"
																requiredMessage="Enter a Phone Number"
																converterMessage="Please enter digits only."
																value="#{registrationForm.phoneNumber}">
															</p:inputText>
															<label>Phone Number</label>
														</h:panelGroup>
														<p:message for="phoneNumber" display="icon" />
														<p:spacer height="5" />
														<p:spacer height="5" />
														<p:selectOneMenu id="personalAccountCountry"
															converter="countryConverter"
															value="#{registrationForm.country}" var="country"
															style="width:250px" panelStyle="width:380px"
															required="false" effect="fade" autoComplete="true"
															filter="true" scrollHeight="10"
															filterMatchMode="startsWith">
															<f:selectItem itemLabel="Select Country"
																itemValue="#{null}" />
															<f:selectItems
																value="#{registrationForm.listOfCountries}"
																var="country" itemLabel="#{country}"
																itemValue="#{country}" />
															<p:column>
																<h:outputText value="#{country}" />
															</p:column>
														</p:selectOneMenu>
														<p:message for="personalAccountCountry" display="icon" />
														<p:spacer height="50" />
														<p:spacer height="50" />

													</h:panelGrid>
												</div>
											</div>
											<div class="ui-g-12 ui-lg-6">
												<div class="shadow-box ui-shadow-2">
													<h:panelGrid columns="2" cellpadding="3"
														style="margin-left: 20px !important;">
														<p:spacer height="5" />
														<p:spacer height="5" />
														<h:panelGroup styleClass="md-inputfield">
															<p:inputText id="email" required="false" label="email"
																size="27" requiredMessage="Enter an email address"
																validatorMessage="Invalid email format"
																value="#{registrationForm.emailAddress}">
																<f:validateRegex
																	pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
															</p:inputText>
															<label>Email</label>
														</h:panelGroup>
														<p:message for="email" display="icon" />
														
														<p:spacer height="5" />
														<p:spacer height="5" />
														<h:panelGroup styleClass="md-inputfield">
															<p:inputText id="username" required="true"
																label="username" size="27"
																requiredMessage="Enter a username"
																value="#{registrationForm.username}">
															</p:inputText>
															<label>Username</label>
														</h:panelGroup>
														<p:message for="username" display="icon" />
														
														<p:spacer height="5" />
														<p:spacer height="5" />
														<h:panelGroup styleClass="md-inputfield">
															<p:password id="pwd1"
																value="#{registrationForm.clearTextPassword}"
																match="pwd2" label="Password 1" required="true"
																feedback="true" inline="true"
																requiredMessage="Enter a passwword" size="27"
																validatorMessage="First password must match with second password" />
															<label>Password</label>
														</h:panelGroup>
														<p:message for="pwd1" display="icon" />

														<p:spacer height="5" />
														<p:spacer height="5" />
														<h:panelGroup styleClass="md-inputfield">
															<p:password id="pwd2"
																value="#{registrationForm.clearTextPassword}"
																label="Password 2" size="27" required="true"
																requiredMessage="Enter a passwword" />
															<label>Confirm Password</label>
														</h:panelGroup>
														<p:message for="pwd2" display="icon" />

														<p:outputPanel styleClass="tableFacet-rightAligned">
															<p:commandButton id="saveBtn"
																action="#{registrationForm.saveAccount}"
																styleClass="#{recordsCountController.operationButtonColor}"
																icon="#{recordsCountController.formIcon}"
																style="margin-bottom:25px;" ajax="true" value="Register"
																update="personalFormId" validateClient="true" />
														</p:outputPanel>
														<p:spacer height="10" />
														
													</h:panelGrid>

													<p:blockUI block="personalFormId"
														trigger="personalFormId:saveBtn">
														<p:graphicImage value="/resources/images/workingicon.png" />
													</p:blockUI>
												</div>
											</div>
										</div>
									</h:form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="footer-content">
				<div class="ui-g">
					<div class="ui-g-12 ui-md-6">
						<span class="footer-text-left">Copyright ©
							#{copyrightDateRenderer.copyright} Mobility Study. All ​rights
							reserved.</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/landing-page.css" library="ultima-layout" />
	<h:outputStylesheet name="css/overrides.css" library="ultima-layout" />
	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css"
		library="ultima-layout" />
</h:body>

</html>