.slider1-style {
	background-size: cover;
	width: 100%;
	background-image:
		url("resources/ultima-layout/images/slider/slider1.png");
	background-image:
		url("#{resource['ultima-layout:images/slider/slider1.png']}");
}

.landing-wrapper #slider1 {
	background:
		url("#{resource['ultima-layout:images/slider/slider1.png']}") top left
		no-repeat;
	background-size: 100% auto;
}

.align-link-btn {
	position: absolute;
	bottom: 0;
	right: 0;
}

.link-btn-outline-primary {
	color: #2fcc73;
	background-image: none;
	background-color: transparent;
	border-color: #2fcc73;
}

.link-btn:hover {
	color: #fff;
	background-image: none;
	background-color: #2fcc73;
	border-color: #2fcc73;
}

.link-btn {
	display: inline-block;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .75rem 1.5rem;
	font-size: .9375rem;
	border-radius: .125rem;
	transition: all .3s ease-in-out;
}

.yodime-nav {
	background: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	height: 64px;
	left: 0;
	position: fixed;
	-webkit-transition: top .75s .25s ease;
	transition: top .75s .25s ease;
	width: 100%;
	z-index: 99;
}

.scrolled {
	top: 0;
}

.floating-menu {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	position: absolute;
	z-index: 99;
	-webkit-transition: top .75s .25s ease;
	transition: top .75s .25s ease;
	width: 100%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.floating-menu a, .floating-menu h3 {
	display: block;
	color: #212121;
	margin-bottom: 1em;
}

.yodime-green {
	color: #75b343;
}

.landing-wrapper #header .header-top #menu li a:hover {
	display: block;
	color: #75b343;
	text-decoration: underline;
	font-weight: bold !important;
	text-decoration-color: #75b343;
}

.menu-background {
	background-color: #75b343;
}


.intro-style {
	width: 100%;
	margin-top: 90px;
	background-size: cover;
}

.mobile-bottom {
	height: 400px;
}

.remove-hscroller {
	/**height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	**/
	overflow-x: hidden;
	overflow-y: scroll;
}

.twitter {
	color: #00aced;
}

.facebook {
	color: #357ebd;
}

.instagram {
	color: #e95950;
}

.you-tube {
	color: #c4302b;
}

.linkedIn {
	color: #0077B5;
}

.space-round-icon {
	padding-right: 25px;
	padding-left: 25px;
	font-size: 25px;
	text-align: center;
}

.card-style-width {
	width: 95%;
}

.home-link-style {
	text-decoration: underline;
	font-size: 16px;
	margin-left: 10px !important;
	margin-top: 1em;
	margin-bottom: 1em;
}

.landing-btn-link:hover {
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff;
	color: #75b343;
	height: 36px;
	padding: 8px 16px 8px;
	cursor: pointer;
	border: 0 none;
	-moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s
}

.landing-btn-link {
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	height: 36px;
	padding: 8px 16px 8px;
	cursor: pointer;
	border: 0 none;
	-moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s
}

.merchant-account-link {
	overflow: hidden;
	background-color: #E91E63;
	color: #ffffff;
	font-size: 16px;
	height: 36px;
	border: 0 none;
	-moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	padding-left: 5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	padding-right: 5em;
	margin-right: 1em;
	border-radius: 6px;
}

.personal-account-link {
	overflow: hidden;
	background-color: #009688;
	color: #ffffff;
	font-size: 16px;
	height: 36px;
	border: 0 none;
	-moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0
		rgba(0, 0, 0, 0.16);
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	padding-left: 5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-right: 5em;
	margin-right: 1em;
	border-radius: 6px;
}

.ext-btn:hover {
	background-color: #00695C;
}

.ext-btn1:hover {
	background-color: #ee4C83;
}

.service-div {
	font-size: 16px;
	text-align: left;
	padding: 10px 14px;
}

.landing-wrapper #services {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0px;
	text-align: center;
}

.landing-wrapper #services h2 {
	font-weight: 400;
	line-height: 28px;
}

.landing-wrapper #services h3 {
	font-weight: 400;
}

.landing-wrapper #services p {
	color: #757575;
}

.landing-wrapper #services .ui-g-12 {
	padding: 2em .5em;
}

.landing-wrapper #services .feature-icon {
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #f4f8fc;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	text-align: center;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.landing-wrapper #services .feature-icon i {
	margin-top: 30px;
	font-size: 36px;
}

.landing-wrapper #services .feature-icon:hover {
	background-color: #e91e63;
}

.landing-wrapper #services .feature-icon:hover i {
	color: #ffffff;
}

.landing-wrapper #services .services-box .card {
	height: 100%;
	padding: 0;
}

.landing-wrapper #services .services-box .services-header {
	padding: 10px 0;
	color: #ffffff;
}

.landing-wrapper #services .services-box .services-header span {
	display: block;
	line-height: 48px;
}

.landing-wrapper #services .services-box .services-header span.name {
	font-weight: 300;
	font-size: 24px;
}

.landing-wrapper #services .services-box .services-header span.fee {
	font-size: 48px;
	font-weight: 700;
}

.landing-wrapper #services .services-box .services-header span.type {
	font-weight: 300;
	font-size: 16px;
}

.landing-wrapper #services .services-box .services-content ul {
	margin: 0;
	padding: 30px 20px;
	list-style-type: none;
}

.landing-wrapper #services .services-box .services-content ul li {
	font-size: 16px;
	text-align: left;
	padding: 10px 14px;
}

.landing-wrapper #services .services-box .services-content ul li i {
	margin-right: 20px;
	vertical-align: middle;
}

.landing-wrapper #services .services-box .services-content ul li span {
	vertical-align: middle;
}

.landing-wrapper #services .services-box.services-basic .services-header
	{
	background-color: #75b343;
}

.landing-wrapper #services .services-box.services-basic i {
	color: #ffffff;
}

.landing-wrapper #services .services-box.services-standard .services-header
	{
	background-color: #75b343;
}

.landing-wrapper #services .services-box.services-standard i {
	color: #ffffff;
}

.landing-wrapper #services .services-box.services-professional .services-header
	{
	background-color: #75b343;
}

.landing-wrapper #services .services-box.services-professional i {
	color: #ffffff;
}

.landing-wrapper #services, .landing-wrapper #contact_us,
	.landing-wrapper #faq, .landing-wrapper #personal_account,
	.landing-wrapper #sign_up, .landing-wrapper #merchant_account,
	.landing-wrapper #about_us, .landing-wrapper #video, .landing-wrapper .footer .footer-content
	{
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
	box-sizing: border-box;
}

.landing-wrapper #merchant_account {
	background-size: 100% auto;
}

.landing-wrapper #merchant_account .ui-lg-8 {
	padding: 150px 0 0 150px;
}

.landing-wrapper #merchant_account .ui-lg-8 h1 {
	font-weight: 48px;
	color: #ffffff;
	font-weight: 400;
}

.landing-wrapper #merchant_account .ui-lg-4 {
	margin: -50px 0 -50px 0;
}

.landing-wrapper #merchant_account .ui-lg-4 .card {
	-webkit-box-shadow: 0 0 27px 4.5px rgba(13, 36, 62, 0.1);
	-moz-box-shadow: 0 0 27px 4.5px rgba(13, 36, 62, 0.1);
	box-shadow: 0 0 27px 4.5px rgba(13, 36, 62, 0.1);
	margin-bottom: 20px;
}

.landing-wrapper #merchant_account .ui-lg-4 .card h3 {
	font-weight: 400;
}

.landing-wrapper #merchant_account .ui-lg-4 .card p {
	color: #757575;
}

.landing-wrapper #merchant_account .ui-lg-4 .card:last-child {
	margin-bottom: 0;
}

.landing-wrapper #merchant_account .ui-lg-8 {
	padding: 100px 0 30px;
	text-align: center;
}

.landing-wrapper #merchant_account .ui-lg-8 h1 {
	margin-top: -30px;
	font-weight: 48px;
	color: #ffffff;
	font-weight: 400;
}

.landing-wrapper #personal_account {
	background-size: 100% auto;
}

.landing-wrapper #personal_account .ui-lg-8 {
	padding: 150px 0 0 150px;
}

.landing-wrapper #personal_account .ui-lg-8 h1 {
	font-weight: 48px;
	color: #ffffff;
	font-weight: 400;
}

.landing-wrapper #personal_account .ui-lg-4 {
	margin: -50px 0 -50px 0;
}

.landing-wrapper #personal_account .ui-lg-4 .card {
	-webkit-box-shadow: 0 0 27px 4.5px rgba(13, 36, 62, 0.1);
	-moz-box-shadow: 0 0 27px 4.5px rgba(13, 36, 62, 0.1);
	box-shadow: 0 0 27px 4.5px rgba(13, 36, 62, 0.1);
	margin-bottom: 20px;
}

.landing-wrapper #personal_account .ui-lg-4 .card h3 {
	font-weight: 400;
}

.landing-wrapper #personal_account .ui-lg-4 .card p {
	color: #757575;
}

.landing-wrapper #personal_account .ui-lg-4 .card:last-child {
	margin-bottom: 0;
}

.landing-wrapper #personal_account .ui-lg-8 {
	padding: 100px 0 30px;
	text-align: center;
}

.landing-wrapper #personal_account .ui-lg-8 h1 {
	margin-top: -30px;
	font-weight: 48px;
	color: #ffffff;
	font-weight: 400;
}

.landing-wrapper #faq {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0px;
	text-align: center;
}

.landing-wrapper #faq h2 {
	font-weight: 400;
}

.landing-wrapper #faq p {
	color: #757575;
}

.landing-wrapper #faq .faq-box .card {
	height: 100%;
	padding: 0;
}

.landing-wrapper #faq .faq-box .faq-header {
	padding: 10px 0;
	color: #ffffff;
}

.landing-wrapper #faq .faq-box .faq-header span {
	display: block;
	line-height: 48px;
}

.landing-wrapper #faq .faq-box .faq-header span.name {
	font-weight: 300;
	font-size: 24px;
}

.landing-wrapper #faq .faq-box .faq-header span.fee {
	font-size: 48px;
	font-weight: 700;
}

.landing-wrapper #faq .faq-box .faq-header span.type {
	font-weight: 300;
	font-size: 16px;
}

.landing-wrapper #faq .faq-box .faq-content ul {
	margin: 0;
	padding: 30px 20px;
	list-style-type: none;
}

.landing-wrapper #faq .faq-box .faq-content ul li {
	font-size: 16px;
	text-align: left;
	padding: 10px 14px;
}

.landing-wrapper #faq .faq-box .faq-content ul li i {
	margin-right: 20px;
	vertical-align: middle;
}

.landing-wrapper #faq .faq-box .faq-content ul li span {
	vertical-align: middle;
}

.landing-wrapper #faq .faq-box.faq-basic .faq-header {
	background-color: #75b343;
}

.landing-wrapper #faq .faq-box.faq-basic i {
	color: #ffffff;
}

.landing-wrapper #faq .faq-box.faq-standard .faq-header {
	background-color: #75b343;
}

.landing-wrapper #faq .faq-box.faq-standard i {
	color: #ffffff;
}

.landing-wrapper #faq .faq-box.faq-professional .faq-header {
	background-color: #75b343;
}

.landing-wrapper #faq .faq-box.faq-professional i {
	color: #ffffff;
}

.landing-wrapper #sign_up {
	width: 960px;
	margin: 0 auto;
	padding: 100px 0px;
	text-align: center;
}

.landing-wrapper #sign_up h2 {
	font-weight: 400;
}

.landing-wrapper #sign_up p {
	color: #757575;
}

.landing-wrapper #sign_up .sign_up-box .card {
	height: 100%;
	padding: 0;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-header {
	padding: 10px 0;
	color: #ffffff;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-header span {
	display: block;
	line-height: 48px;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-header span.name {
	font-weight: 300;
	font-size: 24px;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-header span.fee {
	font-size: 48px;
	font-weight: 700;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-header span.type {
	font-weight: 300;
	font-size: 16px;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-content ul {
	margin: 0;
	padding: 30px 20px;
	list-style-type: none;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-content ul li {
	font-size: 16px;
	text-align: left;
	padding: 10px 14px;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-content ul li i {
	margin-right: 20px;
	vertical-align: middle;
}

.landing-wrapper #sign_up .sign_up-box .sign_up-content ul li span {
	vertical-align: middle;
}

.landing-wrapper #sign_up .sign_up-box.sign_up-basic .sign_up-header {
	background-color: #75b343;
}

.landing-wrapper #sign_up .sign_up-box.sign_up-basic i {
	color: #ffffff;
}

.landing-wrapper #sign_up .sign_up-box.sign_up-standard .sign_up-header
	{
	background-color: #75b343;
}

.landing-wrapper #sign_up .sign_up-box.sign_up-standard i {
	color: #ffffff;
}

.landing-wrapper #sign_up .sign_up-box.sign_up-professional .sign_up-header
	{
	background-color: #75b343;
}

.landing-wrapper #sign_up .sign_up-box.sign_up-professional i {
	color: #ffffff;
}

.landing-wrapper #contact_us {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0px;
	text-align: center;
}

.landing-wrapper #contact_us h2 {
	font-weight: 400;
}

.landing-wrapper #contact_us p {
	color: #757575;
}

.landing-wrapper #contact_us .contact_us-box .card {
	height: 100%;
	padding: 0;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-header {
	padding: 10px 0;
	color: #ffffff;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-header span {
	display: block;
	line-height: 48px;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-header span.name
	{
	font-weight: 300;
	font-size: 24px;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-header span.fee
	{
	font-size: 48px;
	font-weight: 700;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-header span.type
	{
	font-weight: 300;
	font-size: 16px;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-content ul {
	margin: 0;
	padding: 30px 20px;
	list-style-type: none;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-content ul li {
	font-size: 16px;
	text-align: left;
	padding: 10px 14px;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-content ul li i
	{
	margin-right: 20px;
	vertical-align: middle;
}

.landing-wrapper #contact_us .contact_us-box .contact_us-content ul li span
	{
	vertical-align: middle;
}

.landing-wrapper #contact_us .contact_us-box.contact_us-basic .contact_us-header
	{
	background-color: #75b343;
}

.landing-wrapper #contact_us .contact_us-box.contact_us-basic i {
	color: #ffffff;
}

.landing-wrapper #contact_us .contact_us-box.contact_us-standard .contact_us-header
	{
	background-color: #75b343;
}

.landing-wrapper #contact_us .contact_us-box.contact_us-standard i {
	color: #ffffff;
}

.landing-wrapper #contact_us .contact_us-box.contact_us-professional .contact_us-header
	{
	background-color: #75b343;
}

.landing-wrapper #contact_us .contact_us-box.contact_us-professional i {
	color: #ffffff;
}

.landing-wrapper #about_us {
	width: 960px;
	margin: 0 auto;
	padding: 80px 0px;
	text-align: center;
}

.landing-wrapper #about_us h2 {
	font-weight: 400;
	line-height: 28px;
}

.landing-wrapper #about_us h3 {
	font-weight: 400;
}

.landing-wrapper #about_us p {
	color: #757575;
}

.landing-wrapper #about_us .ui-g-12 {
	padding: 2em .5em;
}

.landing-wrapper #about_us .feature-icon {
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #f4f8fc;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	text-align: center;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.landing-wrapper #about_us .feature-icon i {
	margin-top: 30px;
	font-size: 36px;
}

.landing-wrapper #about_us .feature-icon:hover {
	background-color: #e91e63;
}

.landing-wrapper #about_us .feature-icon:hover i {
	color: #ffffff;
}

.landing-wrapper #about_us .about_us-box .card {
	height: 100%;
	padding: 0;
}

.landing-wrapper #about_us .about_us-box .about_us-header {
	padding: 10px 0;
	color: #ffffff;
}

.landing-wrapper #about_us .about_us-box .about_us-header span {
	display: block;
	line-height: 48px;
}

.landing-wrapper #about_us .about_us-box .about_us-header span.name {
	font-weight: 300;
	font-size: 24px;
}

.landing-wrapper #about_us .about_us-box .about_us-header span.fee {
	font-size: 48px;
	font-weight: 700;
}

.landing-wrapper #about_us .about_us-box .about_us-header span.type {
	font-weight: 300;
	font-size: 16px;
}

.landing-wrapper #about_us .about_us-box .about_us-content ul {
	margin: 0;
	padding: 30px 20px;
	list-style-type: none;
}

.landing-wrapper #about_us .about_us-box .about_us-content ul li {
	font-size: 16px;
	text-align: left;
	padding: 10px 14px;
}

.landing-wrapper #about_us .about_us-box .about_us-content ul li i {
	margin-right: 20px;
	vertical-align: middle;
}

.landing-wrapper #about_us .about_us-box .about_us-content ul li span {
	vertical-align: middle;
}

.landing-wrapper #about_us .about_us-box.about_us-basic .about_us-header
	{
	background-color: #75b343;
}

.landing-wrapper #about_us .about_us-box.about_us-basic i {
	color: #ffffff;
}

.landing-wrapper #about_us .about_us-box.about_us-standard .about_us-header
	{
	background-color: #75b343;
}

.landing-wrapper #about_us .about_us-box.about_us-standard i {
	color: #ffffff;
}

.landing-wrapper #about_us .about_us-box.about_us-professional .about_us-header
	{
	background-color: #75b343;
}

.landing-wrapper #about_us .about_us-box.about_us-professional i {
	color: #ffffff;
}