@charset "UTF-8";
/* Compact */
/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url("#{resource['ultima-layout:fonts/roboto-v15-latin-300.eot']}");
	/* IE9 Compat Modes */
	src: local("Roboto Light"), local("Roboto-Light"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-300.eot']}#iefix")
		format("embedded-opentype"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-300.woff2']}")
		format("woff2"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-300.woff']}")
		format("woff"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-300.ttf']}")
		format("truetype"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-300.svg']}#Roboto")
		format("svg");
	/* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-regular.eot']}");
	/* IE9 Compat Modes */
	src: local("Roboto"), local("Roboto-Regular"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-regular.eot']}#iefix")
		format("embedded-opentype"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-regular.woff2']}")
		format("woff2"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-regular.woff']}")
		format("woff"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-regular.ttf']}")
		format("truetype"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-regular.svg']}#Roboto")
		format("svg");
	/* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url("#{resource['ultima-layout:fonts/roboto-v15-latin-700.eot']}");
	/* IE9 Compat Modes */
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-700.eot']}#iefix")
		format("embedded-opentype"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-700.woff2']}")
		format("woff2"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-700.woff']}")
		format("woff"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-700.ttf']}")
		format("truetype"),
		url("#{resource['ultima-layout:fonts/roboto-v15-latin-700.svg']}#Roboto")
		format("svg");
	/* Legacy iOS */
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url("#{resource['ultima-layout:fonts/MaterialIcons-Regular.eot']}");
	/* For IE6-8 */
	src: local("Material Icons"), local("MaterialIcons-Regular"),
		url("#{resource['ultima-layout:fonts/MaterialIcons-Regular.woff2']}")
		format("woff2"),
		url("#{resource['ultima-layout:fonts/MaterialIcons-Regular.woff']}")
		format("woff"),
		url("#{resource['ultima-layout:fonts/MaterialIcons-Regular.ttf']}")
		format("truetype");
}
/* Utils */
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

.card {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0
		rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0
		rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0
		rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #ffffff;
	padding: 16px;
	margin-bottom: 16px;
	box-sizing: border-box;
}

.card.card-w-title {
	padding-bottom: 32px;
}

.card h1 {
	font-size: 24px;
	font-weight: 400;
	margin: 24px 0;
}

.card h1:first-child {
	margin-top: 16px;
}

.card h2 {
	font-size: 22px;
	font-weight: 400;
}

.card h3 {
	font-size: 20px;
	font-weight: 400;
}

.card h4 {
	font-size: 18px;
	font-weight: 400;
}

.nopad {
	padding: 0;
}

.nopad .ui-panel-content {
	padding: 0;
}

@
-webkit-keyframes fadeInDown {from { opacity:0;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
}

to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

}
@
keyframes fadeInDown {from { opacity:0;
	transform: translate3d(0, -20px, 0);
}

to {
	opacity: 1;
	transform: none;
}

}
@
-webkit-keyframes fadeOutUp {from { opacity:1;
	
}

to {
	opacity: 0;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
}

}
@
keyframes fadeOutUp {from { opacity:1;
	
}

to {
	opacity: 0;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
}

}
.ui-shadow-1 {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
		rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
		rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-shadow-2 {
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px
		rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-3 {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

.ui-shadow-4 {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.ui-shadow-5 {
	-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px
		rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px
		rgba(0, 0, 0, 0.22);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px
		rgba(0, 0, 0, 0.22);
}

.ui-g.form-group>div {
	padding: 12px 16px;
}

.ui-panelgrid.form-group .ui-panelgrid-cell {
	padding: 12px 16px;
}

.ui-selectoneradio.form-group .ui-grid-row>div, .ui-selectmanycheckbox.form-group .ui-grid-row>div
	{
	padding: 8px 16px;
}

.dashboard .overview {
	padding: 0 !important;
	min-height: 140px;
	position: relative;
	margin-bottom: 0px !important;
}

.dashboard .overview .overview-content {
	padding: 16px;
}

.dashboard .overview .overview-content .overview-title {
	font-size: 18px;
}

.dashboard .overview .overview-content .overview-badge {
	float: right;
	color: #757575;
}

.dashboard .overview .overview-content .overview-detail {
	display: block;
	font-size: 24px;
	margin-top: 5px;
}

.dashboard .overview .overview-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dashboard .overview .overview-footer img {
	display: block;
}

.dashboard .colorbox {
	padding: 0 !important;
	text-align: center;
	overflow: hidden;
	margin-bottom: 0px !important;
}

.dashboard .colorbox i {
	font-size: 48px;
	margin-top: 10px;
	color: #ffffff;
}

.dashboard .colorbox .colorbox-name {
	font-size: 20px;
	display: inline-block;
	width: 100%;
	margin: 4px 0 10px 0;
	color: #ffffff;
}

.dashboard .colorbox .colorbox-count {
	color: #ffffff;
	font-size: 36px;
}

.dashboard .colorbox .colorbox-count {
	font-weight: bold;
}

.dashboard .colorbox.colorbox-1 div:first-child {
	background-color: #2E7D32;
}

.dashboard .colorbox.colorbox-1 div:last-child {
	background-color: #4CAF50;
}

.dashboard .colorbox.colorbox-2 div:first-child {
	background-color: #0277BD;
}

.dashboard .colorbox.colorbox-2 div:last-child {
	background-color: #03A9F4;
}

.dashboard .colorbox.colorbox-3 div:first-child {
	background-color: #4527A0;
}

.dashboard .colorbox.colorbox-3 div:last-child {
	background-color: #673AB7;
}

.dashboard .colorbox.colorbox-4 div:first-child {
	background-color: #00695C;
}

.dashboard .colorbox.colorbox-4 div:last-child {
	background-color: #009688;
}

.dashboard .task-list {
	overflow: hidden;
}

.dashboard .task-list>.ui-panel {
	min-height: 340px;
}

.dashboard .task-list .ui-panel-content {
	padding: 10px 0 !important;
}

.dashboard .task-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dashboard .task-list ul li {
	padding: 10px 14px;
	border-bottom: 1px solid #dbdbdb;
}

.dashboard .task-list ul li:first-child {
	margin-top: 10px;
}

.dashboard .task-list ul .ui-chkbox {
	vertical-align: middle;
	margin-right: 5px;
}

.dashboard .task-list ul .task-name {
	vertical-align: middle;
}

.dashboard .task-list ul i {
	color: #757575;
	float: right;
}

.dashboard .contact-form {
	overflow: hidden;
}

.dashboard .contact-form .ui-panel {
	min-height: 340px;
}

.dashboard .contact-form .ui-g-12 {
	padding: 16px 10px;
}

.dashboard .contact-form .ui-button {
	margin-top: 20px;
}

.dashboard .contacts {
	overflow: hidden;
}

.dashboard .contacts>.ui-panel {
	min-height: 340px;
}

.dashboard .contacts .ui-panel-content {
	padding: 15px 0 10px 0 !important;
}

.dashboard .contacts ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dashboard .contacts ul li {
	border-bottom: 1px solid #d8d8d8;
}

.dashboard .contacts ul li a {
	padding: 9px;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	position: relative;
	display: block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.dashboard .contacts ul li a .name {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 18px;
	color: #212121;
}

.dashboard .contacts ul li a .email {
	position: absolute;
	right: 10px;
	top: 30px;
	font-size: 14px;
	color: #757575;
}

.dashboard .contacts ul li a:hover {
	cursor: pointer;
	background-color: #e8e8e8;
}

.dashboard .contacts ul li:last-child {
	border: 0;
}

.dashboard .activity-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dashboard .activity-list li {
	border-bottom: 1px solid #bdbdbd;
	padding: 15px 0 9px 9px;
}

.dashboard .activity-list li .count {
	font-size: 24px;
	color: #ffffff;
	background-color: #03A9F4;
	font-weight: bold;
	width: 60px;
	padding: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.dashboard .activity-list li:first-child {
	border-top: 1px solid #bdbdbd;
}

.dashboard .activity-list li:last-child {
	border: 0;
}

.dashboard .activity-list li .ui-g-6:first-child {
	font-size: 18px;
	padding-left: 0;
}

.dashboard .activity-list li .ui-g-6:last-child {
	text-align: right;
	color: #757575;
}

.dashboard .timeline {
	height: 100%;
	box-sizing: border-box;
}

.dashboard .timeline>.ui-g .ui-g-3 {
	font-size: 14px;
	position: relative;
	border-right: 1px solid #bdbdbd;
}

.dashboard .timeline>.ui-g .ui-g-3 i {
	background-color: #ffffff;
	font-size: 36px;
	position: absolute;
	top: 0px;
	right: -18px;
}

.dashboard .timeline>.ui-g .ui-g-9 {
	padding-left: 1.5em;
}

.dashboard .timeline>.ui-g .ui-g-9 .event-text {
	color: #757575;
	font-size: 14px;
	display: block;
	padding-bottom: 20px;
}

.dashboard .timeline>.ui-g .ui-g-9 .event-content img {
	width: 100%;
}

.dashboard>div>.ui-panel {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0
		rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0
		rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0
		rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.login-body {
	background: url("#{resource['ultima-layout:images/login/login.png']}")
		top left no-repeat #f7f7f7;
	background-size: 100% auto;
}

.login-panel {
	text-align: center;
	width: 350px;
	min-height: 440px;
	padding: 50px 20px;
	margin: 100px auto 0 auto;
}

.login-panel .ui-g .ui-g-12 {
	padding: 25px 40px;
}

.login-panel .ui-g .ui-g-12 .ui-button {
	margin-bottom: 20px;
}

.login-footer {
	position: absolute;
	bottom: 10px;
	font-size: 16px;
	width: 100%;
	text-align: center;
	color: #757575;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	.login-body {
		background: url("#{resource['ultima-layout:images/login/login2x.png']}")
			top left no-repeat #f7f7f7;
		background-size: 100% auto;
	}
}

@media ( max-width : 1024px) {
	.login-panel {
		text-align: center;
		min-height: 440px;
		margin: 100px auto 0 auto;
	}
}

@media ( max-width : 640px) {
	.login-panel {
		text-align: center;
		width: 300px;
		min-height: 440px;
		padding: 40px 20px;
		margin: 75px auto 0 auto;
	}
	.login-panel .ui-g .ui-g-12 {
		padding: 20px 20px;
	}
	.login-panel .ui-g .ui-g-12 .ui-button {
		margin-top: 30px;
	}
}

.exception-body {
	background-color: #f7f7f7;
}

.exception-body .exception-type {
	width: 100%;
	height: 50%;
	padding: 100px 100px 0 100px;
	box-sizing: border-box;
	text-align: center;
}

.exception-body .exception-panel {
	text-align: center;
	width: 350px;
	padding: 50px 50px;
	margin: -10% auto 0 auto;
	z-index: 100;
}

.exception-body .exception-panel i {
	font-size: 72px;
}

.exception-body .exception-panel h1 {
	font-size: 36px;
	line-height: 36px;
	color: #757575;
}

.exception-body .exception-panel .exception-detail {
	margin: 20px 0px 100px 0px;
	color: #757575;
}

.exception-body.error-page .exception-type {
	background-color: #e62a10;
}

.exception-body.error-page .exception-type img {
	width: 100%;
}

.exception-body.error-page .exception-panel i {
	color: #f79a84;
}

.exception-body.notfound-page .exception-type {
	background-color: #3f51b5;
}

.exception-body.notfound-page .exception-type img {
	width: 54%;
}

.exception-body.notfound-page .exception-panel i {
	color: #9fa8da;
}

.exception-body.accessdenied-page .exception-type {
	background-color: #e91e63;
}

.exception-body.accessdenied-page .exception-type img {
	width: 50%;
}

.exception-body.accessdenied-page .exception-panel i {
	color: #f48fb1;
}

@media ( max-width : 1024px) {
	.exception-body .exception-panel {
		margin-top: -50px;
	}
}

@media ( max-width : 640px) {
	.exception-body .exception-panel {
		width: 250px;
		margin-top: -15px;
	}
}

.landing-wrapper #header {
	width: 100%;
	min-height: 40px;
	background:
		url("#{resource['ultima-layout:images/landing/landing-header.png']}")
		top left no-repeat #f7f7f7;
	background-size: 100% auto;
}

.landing-wrapper #header .header-top {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0px;
}

.landing-wrapper #header .header-top .logo {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 30px;
	background: url("#{resource['ultima-layout:images/logo.png']}") top left
		no-repeat;
}

.landing-wrapper #header .header-top #menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.landing-wrapper #header .header-top #menu li {
	float: left;
	display: block;
	margin-left: 30px;
}

.landing-wrapper #header .header-top #menu li a {
	color: #000;
}

.landing-wrapper #header .header-top #menu li i {
	display: none;
}

.landing-wrapper #header .header-top #menu.lmenu-active {
	display: block;
}

.landing-wrapper #header .header-top #menu-button {
	float: right;
	font-size: 36px;
	color: #ffffff;
	display: none;
}

.landing-wrapper #header .header-content {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.landing-wrapper #header .header-content h1 {
	margin: 75px 0px 50px 0px;
	font-weight: 400;
	color: #000;
	line-height: 36px;
}

.landing-wrapper #video {
	background-color: #f7f7f7;
	min-width: 400px;
}

.landing-wrapper #video .video-content {
	width: 960px;
	margin: 0 auto;
	padding: 50px 0px;
	text-align: center;
}

.landing-wrapper #video .video-content h2 {
	font-weight: 400;
}

.landing-wrapper #video .video-content p {
	color: #757575;
}

.landing-wrapper .footer {
	background-color: #f7f7f7;
	border-top: 1px solid #dddddd;
}

.landing-wrapper .footer .footer-content {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0px 50px 0px;
}

.landing-wrapper .footer .footer-content ul {
	float: right;
	list-style-type: none;
}

.landing-wrapper .footer .footer-content ul li a {
	color: #757575;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.landing-wrapper .footer .footer-content ul li a:hover {
	display: block;
	color: #75b343;
	font-weight: bold !important;
	text-decoration: underline;
	text-decoration-color: #75b343;
}

@media ( max-width : 1024px) {
	.landing-wrapper #header {
		min-height: 98px;
		background-size: cover;
	}
	.landing-wrapper #header .header-top {
		z-index: 100;
		position: fixed;
		top: 0;
		background: #424242;
		background-size: 100% auto;
		padding: 30px;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
	.landing-wrapper #header .header-top #menu-button {
		display: inline-block;
	}
	.landing-wrapper #header .header-top #menu {
		z-index: 100;
		position: fixed;
		top: 86px;
		right: 30px;
		float: none;
		display: none;
		margin: 0;
		padding: 0;
		width: 225px;
		list-style: none;
		background-color: #ffffff;
		-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		animation-duration: .5s;
	}
	.landing-wrapper #header .header-top #menu li {
		float: none;
		margin-left: 0;
	}
	.landing-wrapper #header .header-top #menu li a {
		font-size: 16px;
		display: block;
		padding: 10px 16px;
		color: #212121;
		width: 100%;
		box-sizing: border-box;
		-moz-transition: background-color 0.3s;
		-o-transition: background-color 0.3s;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
		overflow: hidden;
	}
	.landing-wrapper #header .header-top #menu li a i {
		color: #757575;
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
		font-size: 24px;
	}
	.landing-wrapper #header .header-top #menu li a:hover {
		background-color: #e8e8e8;
	}
	.landing-wrapper #header .header-top #menu li a span {
		display: inline-block;
		vertical-align: middle;
	}
	.landing-wrapper #header .header-content {
		width: 100%;
		padding: 100px 30px 60px 30px;
		box-sizing: border-box;
	}
	.landing-wrapper #header .header-content h1 {
		margin: 75px 0px 50px 0px;
		font-weight: 400;
	}
	.landing-wrapper #contact_us, .landing-wrapper #personal_account,
		.landing-wrapper #sign_up, .landing-wrapper #merchant_account,
		.landing-wrapper #about_us, .landing-wrapper #video, .landing-wrapper .footer .footer-content
		{
		width: 100%;
		padding-right: 30px;
		padding-left: 30px;
		box-sizing: border-box;
	}
	.landing-wrapper #video .video-content {
		width: 100%;
	}
	.landing-wrapper #video .video-content .video-container iframe {
		width: 350px;
		height: 220px;
	}
	.landing-wrapper .footer .footer-content {
		text-align: center;
	}
	.landing-wrapper .footer .footer-content ul {
		float: none;
		margin: 0;
		padding: 0;
	}
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	.landing-wrapper .header .header-top .logo {
		background: url("#{resource['ultima-layout:images/logo2x.png']}") top
			left no-repeat;
		background-size: 200px 40px;
	}
}

html {
	height: 100%;
}

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

body.main-body {
	background-color: #f7f7f7;
}

body a {
	text-decoration: none;
}

.layout-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #424242;
	opacity: 0.7;
	top: 0;
	left: 0;
	z-index: 999999997;
}

.layout-wrapper .topbar {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 75px;
	background-color: #009688;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.layout-wrapper .topbar .logo {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 60px;
	background: url("#{resource['ultima-layout:images/logo.png']}") top left
		no-repeat;
}

.layout-wrapper .topbar .topbar-left {
	box-sizing: border-box;
	padding: 20px;
	height: 75px;
	width: 250px;
	background-color: #00695C;
	float: left;
	-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
}

.layout-wrapper .topbar .topbar-right {
	padding: 15px;
}

.layout-wrapper .topbar .topbar-right #menu-button {
	color: #212121;
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	margin-right: 10px;
	position: relative;
	left: -16px;
	top: 3px;
	background-color: #CDDC39;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px
		rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px
		rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px
		rgba(0, 0, 0, 0.16);
}

.layout-wrapper .topbar .topbar-right #menu-button:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.layout-wrapper .topbar .topbar-right #menu-button i {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 36px;
}

.layout-wrapper .topbar .topbar-right #menu-button i:before {
	content: "";
}

.layout-wrapper .topbar .topbar-right #menu-button.menu-button-rotate i
	{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.layout-wrapper .topbar .topbar-right #topbar-menu-button {
	display: none;
	float: right;
	color: #ffffff;
	vertical-align: middle;
	height: 36px;
	margin: 5px 10px 0 0;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.layout-wrapper .topbar .topbar-right #topbar-menu-button i {
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	font-size: 36px;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item input {
	position: relative;
	top: -10px;
	font-size: 16px;
	background-color: transparent;
	border-width: 0 0 1px 0;
	padding: 2px 2px 1px 2px;
	border-color: #ffffff;
	color: #ffffff;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item input:focus
	{
	outline: 0 none;
	border-bottom-width: 2px;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item input:focus 
	 ~ label {
	top: -5px;
	font-size: 12px;
	color: #009688;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item input.ui-state-filled 
	 ~ label {
	display: none;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item label {
	color: #ffffff;
	top: 8px;
}

.layout-wrapper .layout-menu {
	overflow: auto;
	position: fixed;
	width: 250px;
	z-index: 99;
	top: 75px;
	height: 100%;
	background-color: #ffffff;
	-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
	-moz-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
}

.layout-wrapper .layout-menu>.nano>.nano-content.menu-scroll-content {
	display: block;
	height: 100%;
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
}

.layout-wrapper .layout-menu>.nano>.nano-content>ul:last-child {
	margin-top: 16px;
	padding-bottom: 120px;
}

.layout-wrapper .layout-menu>.nano .nano-pane .nano-slider {
	background-color: #aaaaaa;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.layout-wrapper .layout-menu .profile {
	box-sizing: border-box;
	padding-top: 30px;
	width: 250px;
	height: 145px;
	text-align: center;
	background: url("#{resource['ultima-layout:images/profile-bg.png']}")
		top left no-repeat;
	background-size: 250px 145px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.layout-wrapper .layout-menu .profile .profile-image {
	width: 90px;
	height: 90px;
	margin: 0 auto 5px auto;
	background: url("#{resource['ultima-layout:images/avatar2x.png']}") top
		left no-repeat;
	background-size: 90px 0px;
}

.layout-wrapper .layout-menu .profile .profile-name {
	display: inline-block;
	color: #212121;
	vertical-align: middle;
	font-size: 16px;
}

.layout-wrapper .layout-menu .profile i {
	color: #212121;
	vertical-align: middle;
	-moz-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

.layout-wrapper .layout-menu .profile.profile-expanded i {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.layout-wrapper .layout-menu #profile-menu {
	margin-top: 16px;
	border-bottom: 1px solid #d6d5d5;
	display: none;
}

.layout-wrapper .layout-menu #profile-menu li:last-child {
	margin-bottom: 16px;
}

.layout-wrapper .layout-menu.layout-menu-dark {
	background-color: #424242;
}

.layout-wrapper .layout-menu.layout-menu-dark .profile {
	background-image:
		url("#{resource['ultima-layout:images/profile-bg-dark.png']}");
}

.layout-wrapper .layout-menu.layout-menu-dark .profile .profile-name {
	color: #ffffff;
}

.layout-wrapper .layout-menu.layout-menu-dark .profile i {
	color: #ffffff;
}

.layout-wrapper .layout-menu.layout-menu-dark #profile-menu {
	border-bottom: 1px solid #676767;
}

.layout-wrapper .layout-menu.layout-menu-dark ul.ultima-menu li a {
	color: #ffffff;
}

.layout-wrapper .layout-menu.layout-menu-dark ul.ultima-menu li a i {
	color: #ffffff;
}

.layout-wrapper .layout-menu.layout-menu-dark ul.ultima-menu li a:hover
	{
	background-color: #676767;
}

.layout-wrapper .layout-menu.layout-menu-dark ul.ultima-menu li.active-menuitem>a
	{
	color: #212121;
	background-color: #CDDC39;
}

.layout-wrapper.menu-layout-overlay .layout-menu {
	margin-left: -250px;
}

.layout-wrapper.menu-layout-overlay .layout-main {
	margin-left: 0px;
}

.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-menu
	{
	z-index: 999999999;
	margin-left: 0px;
}

.layout-wrapper.menu-layout-overlay .topbar {
	z-index: 999999998;
}

.layout-wrapper.menu-layout-overlay .topbar .topbar-right #menu-button i
	{
	font-size: 36px !important;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.layout-wrapper.menu-layout-overlay .topbar .topbar-right #menu-button i:before
	{
	content: "";
}

.layout-wrapper .layout-main {
	padding: 95px 15px 15px 15px;
	-moz-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
}

.layout-wrapper .ultima-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.layout-wrapper .ultima-menu li a {
	font-size: 16px;
	display: block;
	padding: 10px 16px;
	color: #212121;
	width: 100%;
	box-sizing: border-box;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	overflow: hidden;
}

.layout-wrapper .ultima-menu li a i {
	color: #757575;
}

.layout-wrapper .ultima-menu li a i:first-child {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	font-size: 24px;
}

.layout-wrapper .ultima-menu li a i:last-child {
	float: right;
	font-size: 20px;
	margin-top: 2px;
	margin-right: -3px;
	-moz-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

.layout-wrapper .ultima-menu li a:hover {
	background-color: #e8e8e8;
}

.layout-wrapper .ultima-menu li a span {
	display: inline-block;
	vertical-align: middle;
}

.layout-wrapper .ultima-menu li.active-menuitem>a {
	color: #009688;
	background-color: #e8e8e8;
}

.layout-wrapper .ultima-menu li.active-menuitem>a i:last-child {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.layout-wrapper .ultima-menu li ul {
	display: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

.layout-wrapper .ultima-menu li ul li a {
	padding: 10px 16px 10px 32px;
	font-size: 15px;
}

.layout-wrapper .ultima-menu li ul li a i:first-child {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	font-size: 20px;
}

.layout-wrapper .ultima-menu li ul li ul li a {
	padding-left: 48px;
}

.layout-wrapper .ultima-menu li ul li ul ul li a {
	padding-left: 64px;
}

.layout-wrapper .ultima-menu li ul li ul ul ul li a {
	padding-left: 80px;
}

.layout-wrapper .ultima-menu li ul li ul ul ul ul li a {
	padding-left: 96px;
}

.layout-wrapper .footer {
	padding: .5em;
}

.layout-wrapper .footer .footer-text-left {
	float: left;
}

.layout-wrapper .footer .footer-text-right {
	color: #757575;
	float: right;
}

.layout-wrapper .footer .footer-text-right span {
	vertical-align: middle;
	display: inline-block;
}

.ajax-loader {
	font-size: 32px;
	color: #CDDC39;
}

@media ( min-width : 1025px) {
	.layout-wrapper .topbar-items {
		float: right;
		margin: 0;
		padding: 5px 0 0 0;
		list-style-type: none;
	}
	.layout-wrapper .topbar-items>li {
		float: right;
		position: relative;
		margin-left: 8px;
	}
	.layout-wrapper .topbar-items>li>a {
		position: relative;
		display: block;
	}
	.layout-wrapper .topbar-items>li>a .topbar-item-name {
		display: none;
	}
	.layout-wrapper .topbar-items>li>a .topbar-badge {
		position: absolute;
		right: -5px;
		top: -5px;
		background-color: #CDDC39;
		color: #212121;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		padding: 2px 4px;
		display: block;
		font-size: 12px;
		line-height: 12px;
	}
	.layout-wrapper .topbar-items>li .topbar-icon {
		font-size: 36px;
		color: #ffffff;
		-moz-transition: color 0.3s;
		-o-transition: color 0.3s;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
	}
	.layout-wrapper .topbar-items>li .topbar-icon:hover {
		color: #e8e8e8;
	}
	.layout-wrapper .topbar-items>li.profile-item .profile-image {
		width: 36px;
		height: 36px;
		background: url("#{resource['ultima-layout:images/avatar2x.png']}") top
			left no-repeat;
		background-size: 36px 36px;
	}
	.layout-wrapper .topbar-items>li>ul {
		position: absolute;
		top: 55px;
		right: 5px;
		display: none;
		width: 250px;
		background-color: #ffffff;
		-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		animation-duration: .5s;
	}
	.layout-wrapper .topbar-items>li.active-top-menu>ul {
		display: block;
	}
	.layout-wrapper .topbar-items>li .topbar-message img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
	}
	.layout-wrapper.menu-layout-static .layout-menu {
		margin-left: 0;
	}
	.layout-wrapper.menu-layout-static .layout-main {
		margin-left: 250px;
	}
	.layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-menu
		{
		margin-left: -250px;
	}
	.layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main
		{
		margin-left: 0px;
	}
	.layout-wrapper.menu-layout-static .layout-mask {
		display: none;
	}
	.layout-wrapper.menu-layout-horizontal .topbar {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}
	.layout-wrapper.menu-layout-horizontal .topbar .topbar-left {
		background-color: #009688;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}
	.layout-wrapper.menu-layout-horizontal .topbar .topbar-right #menu-button
		{
		display: none;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu {
		overflow: visible;
		position: fixed;
		width: 100%;
		top: 75px;
		height: auto;
		background-color: #00695C;
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu>.nano {
		overflow: visible;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu>.nano .nano-content.menu-scroll-content
		{
		display: inherit;
		height: auto;
		position: static;
		overflow: visible;
		overflow-x: visible;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu>.nano .nano-content ul:last-child
		{
		margin-top: 0px;
		padding-bottom: 0px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu>.nano .nano-pane {
		display: none !important;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu:last-child
		{
		margin-top: 0;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li {
		float: left;
		position: relative;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>a
		{
		color: #ffffff;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>a i
		{
		color: #ffffff;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>a:hover
		{
		background-color: #e8e8e8;
		color: #212121;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>a:hover i
		{
		color: #212121;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul
		{
		z-index: 100;
		position: absolute;
		top: 45px;
		left: 0px;
		display: none;
		width: 250px;
		background-color: #ffffff;
		-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li a
		{
		padding: 10px 16px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li ul
		{
		position: static;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li ul li a
		{
		padding-left: 32px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li ul ul li a
		{
		padding-left: 48px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li ul ul ul li a
		{
		padding-left: 64px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li ul ul ul ul li a
		{
		padding-left: 80px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li ul ul ul ul ul li a
		{
		padding-left: 96px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul li.active-menuitem>a
		{
		color: #009688;
		background-color: #e8e8e8;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li.active-menuitem>a
		{
		color: #212121;
		background-color: #CDDC39;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li.active-menuitem>a i
		{
		color: #212121;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu.layout-menu-dark {
		background-color: #424242;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu.layout-menu-dark ul.ultima-menu li a
		{
		color: #ffffff;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu.layout-menu-dark ul.ultima-menu li a:hover
		{
		background-color: #676767;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu.layout-menu-dark ul.ultima-menu li a:hover i
		{
		color: #ffffff;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu.layout-menu-dark ul.ultima-menu li.active-menuitem>a
		{
		color: #212121;
		background-color: #CDDC39;
	}
	.layout-wrapper.menu-layout-horizontal .layout-menu.layout-menu-dark ul.ultima-menu li ul
		{
		background-color: #424242;
	}
	.layout-wrapper.menu-layout-horizontal .layout-main {
		padding-top: 140px;
		margin-left: 0px;
	}
	.layout-wrapper.menu-layout-horizontal .layout-mask {
		display: none;
	}
}

@media ( max-width : 1024px) {
	.layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button i
		{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button.menu-button-rotate i
		{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.layout-wrapper.menu-layout-static .layout-menu {
		margin-left: -265px;
	}
	.layout-wrapper.menu-layout-static .layout-main {
		margin-left: 0px;
	}
	.layout-wrapper.menu-layout-static.layout-menu-static-active .layout-menu
		{
		margin-left: 0;
		z-index: 999999999;
	}
	.layout-wrapper.menu-layout-static.layout-menu-static-active .topbar {
		z-index: 999999998;
	}
	.layout-wrapper.menu-layout-static.layout-menu-static-active .layout-main
		{
		margin-left: 0;
	}
	.layout-wrapper .topbar .topbar-right #topbar-menu-button {
		display: block;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items {
		position: absolute;
		top: 75px;
		right: 15px;
		width: 275px;
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		animation-duration: .5s;
		display: none;
		background-color: #ffffff;
		-webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0
			rgba(0, 0, 0, 0.2);
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>a {
		width: 100%;
		display: block;
		box-sizing: border-box;
		font-size: 16px;
		padding: 16px 16px;
		color: #212121;
		position: relative;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>a i {
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
		font-size: 24px;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>a:hover {
		background-color: #e8e8e8;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>a .topbar-item-name
		{
		display: inline-block;
		vertical-align: middle;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>a .topbar-badge {
		position: absolute;
		left: 30px;
		top: 10px;
		background-color: #CDDC39;
		color: #212121;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		padding: 2px 4px;
		display: block;
		font-size: 12px;
		line-height: 12px;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>ul {
		display: none;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li>ul li a span,
		.layout-wrapper .topbar .topbar-right .topbar-items>li>ul li a img,
		.layout-wrapper .topbar .topbar-right .topbar-items>li>ul li a i {
		display: inline-block;
		vertical-align: middle;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.active-top-menu>a
		{
		color: #009688;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.active-top-menu>ul
		{
		display: block;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.active-top-menu>ul li a
		{
		padding-left: 32px;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.search-item {
		text-align: center;
		width: 100%;
		display: block;
		box-sizing: border-box;
		font-size: 16px;
		padding: 16px 16px;
		position: relative;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.search-item input
		{
		top: 0;
		width: 100%;
		box-sizing: border-box;
		padding-right: 16px;
		border-color: #bdbdbd;
		color: #212121;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.search-item input:focus
		{
		border-color: #bdbdbd;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.search-item input:focus 
		 ~ label, .layout-wrapper .topbar .topbar-right .topbar-items>li.search-item input.ui-state-filled 
		 ~ label {
		top: -20px;
		color: #009688;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.search-item label
		{
		top: 1px;
		color: #212121;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.search-item i {
		position: absolute;
		right: 5px;
		top: -2px;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.profile-item .profile-image
		{
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		height: 24px;
		background: url("#{resource['ultima-layout:images/avatar2x.png']}") top
			left no-repeat;
		background-size: 24px 24px;
		margin-right: 14px;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items>li.profile-item span
		{
		vertical-align: middle;
		display: inline-block;
	}
	.layout-wrapper .topbar .topbar-right .topbar-items.topbar-items-visible
		{
		display: block;
	}
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	.layout-wrapper .topbar .logo {
		background: url("#{resource['ultima-layout:images/logo2x.png']}") top
			left no-repeat;
		background-size: 200px 40px;
	}
}

body.layout-compact {
	font-size: 14px;
	line-height: 18px;
	/* Messages */
}

body.layout-compact .layout-wrapper .ultima-menu li a {
	font-size: 14px;
	padding: 8px 16px;
}

body.layout-compact .layout-wrapper .ultima-menu li a i:first-child {
	font-size: 20px;
}

body.layout-compact .layout-wrapper .ultima-menu li a i:last-child {
	font-size: 18px;
}

body.layout-compact .layout-wrapper .ultima-menu li ul li a {
	padding: 8px 16px 8px 32px;
	font-size: 14px;
}

body.layout-compact .layout-wrapper .ultima-menu li ul li ul li a {
	padding-left: 48px;
}

body.layout-compact .layout-wrapper .ultima-menu li ul li ul ul li a {
	padding-left: 64px;
}

body.layout-compact .layout-wrapper .ultima-menu li ul li ul ul ul li a
	{
	padding-left: 80px;
}

body.layout-compact .layout-wrapper .ultima-menu li ul li ul ul ul ul li a
	{
	padding-left: 96px;
}

body.layout-compact .layout-wrapper .layout-menu #profile-menu {
	margin-top: 14px;
}

body.layout-compact .layout-wrapper .layout-menu #profile-menu li:last-child
	{
	margin-bottom: 14px;
}

body.layout-compact .layout-wrapper .layout-menu>.nano>.nano-content>ul:last-child
	{
	margin-top: 14px;
}

body.layout-compact .ui-widget-content {
	font-size: 14px;
}

body.layout-compact .ui-widget-header {
	font-size: 14px;
}

body.layout-compact .ui-icon {
	font-size: 20px;
}

body.layout-compact .card {
	padding: 16px;
	margin-bottom: 16px;
	box-sizing: border-box;
}

body.layout-compact .card.card-w-title {
	padding-bottom: 26px;
}

body.layout-compact .card h1 {
	font-size: 22px;
	margin: 22px 0;
}

body.layout-compact .card h1:first-child {
	margin-top: 10px;
}

body.layout-compact .card h2 {
	font-size: 20px;
}

body.layout-compact .card h3 {
	font-size: 18px;
}

body.layout-compact .card h4 {
	font-size: 16px;
}

body.layout-compact .ui-panel .ui-panel-titlebar {
	padding: 8px 14px;
}

body.layout-compact .ui-panel .ui-panel-titlebar .ui-panel-title {
	line-height: 18px;
}

body.layout-compact .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon
	{
	position: relative;
	top: 4px;
	width: 24px;
	height: 24px;
	margin: 0;
}

body.layout-compact .ui-panel .ui-panel-content {
	padding: 8px 14px;
}

body.layout-compact .ui-panel .ui-panel-footer {
	padding: 8px 14px;
}

body.layout-compact .ui-panel.ui-panel-collapsed-h .ui-panel-titlebar {
	padding-left: 40px;
}

body.layout-compact .ui-button {
	font-size: 14px;
	height: 30px;
	padding: 0 14px;
}

body.layout-compact .ui-button .ui-button-text {
	line-height: 30px;
}

body.layout-compact .ui-button.ui-button-icon-only {
	width: 32px;
	height: 32px;
}

body.layout-compact .ui-button.ui-button-icon-only .ui-icon {
	width: 20px;
	height: 20px;
	font-size: 20px;
	margin-top: -10px;
	margin-left: -10px;
}

body.layout-compact .ui-button.ui-button-text-icon-left .ui-icon, body.layout-compact .ui-button.ui-button-text-icon-right .ui-icon
	{
	width: 20px;
	height: 20px;
	font-size: 20px;
	margin-top: -10px;
}

body.layout-compact .ui-button.ui-button-text-icon-left {
	padding-left: 36px;
}

body.layout-compact .ui-button.ui-button-text-icon-right {
	padding-right: 36px;
}

body.layout-compact .ui-splitbutton .ui-splitbutton-menubutton {
	height: 30px;
}

body.layout-compact .ui-inputfield {
	font-size: 14px;
}

body.layout-compact .ui-chkbox {
	line-height: 18px;
	width: 18px;
	height: 18px;
	margin-right: 4px;
}

body.layout-compact .ui-chkbox .ui-chkbox-box {
	width: 14px;
	height: 14px;
}

body.layout-compact .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
	font-size: 18px;
	margin-left: -2px;
	margin-top: -2px;
}

body.layout-compact .ui-radiobutton .ui-radiobutton-box {
	width: 14px;
	height: 14px;
}

body.layout-compact .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon
	{
	top: 0;
	left: -1px;
	width: 18px;
	height: 18px;
}

body.layout-compact .ui-picklist .ui-picklist-caption {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-picklist li.ui-picklist-item {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-picklist .ui-picklist-buttons {
	width: 60px;
}

body.layout-compact .ui-picklist .ui-picklist-buttons .ui-button.ui-button-icon-only
	{
	width: 32px;
	margin-bottom: 4px;
}

body.layout-compact .ui-picklist .ui-picklist-filter-container {
	padding: 6px 10px;
}

body.layout-compact .ui-picklist .ui-picklist-filter-container .ui-icon
	{
	top: 8px;
}

body.layout-compact .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .ui-button.ui-button-icon-only
	{
	margin-bottom: 4px;
}

body.layout-compact .ui-orderlist .ui-orderlist-caption {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-orderlist .ui-orderlist-list li.ui-orderlist-item
	{
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-orderlist .ui-orderlist-controls {
	width: 40px;
}

body.layout-compact .ui-orderlist .ui-orderlist-controls .ui-button.ui-button-icon-only
	{
	width: 32px;
}

body.layout-compact .ui-selectonelistbox .ui-selectlistbox-item {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-selectonelistbox .ui-selectlistbox-filter-container
	{
	padding: 6px 10px;
}

body.layout-compact .ui-multiselectlistbox .ui-multiselectlistbox-header
	{
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-multiselectlistbox li.ui-multiselectlistbox-item
	{
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-paginator {
	padding: 6px 10px;
}

body.layout-compact .ui-paginator .ui-paginator-next {
	padding: 0 6px;
	vertical-align: middle;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	font-size: 20px;
}

body.layout-compact .ui-paginator .ui-paginator-next:before {
	content: "";
}

body.layout-compact .ui-paginator .ui-paginator-next:before {
	position: relative;
	left: -6px;
}

body.layout-compact .ui-paginator .ui-paginator-last {
	padding: 0 6px;
	vertical-align: middle;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	font-size: 20px;
}

body.layout-compact .ui-paginator .ui-paginator-last:before {
	content: "";
}

body.layout-compact .ui-paginator .ui-paginator-last:before {
	position: relative;
	left: -6px;
}

body.layout-compact .ui-paginator .ui-paginator-prev {
	padding: 0 6px;
	vertical-align: middle;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	font-size: 20px;
}

body.layout-compact .ui-paginator .ui-paginator-prev:before {
	content: "";
}

body.layout-compact .ui-paginator .ui-paginator-prev:before {
	position: relative;
	left: -5px;
}

body.layout-compact .ui-paginator .ui-paginator-first {
	padding: 0 6px;
	vertical-align: middle;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	font-size: 20px;
}

body.layout-compact .ui-paginator .ui-paginator-first:before {
	content: "";
}

body.layout-compact .ui-paginator .ui-paginator-first:before {
	position: relative;
	left: -5px;
}

body.layout-compact .ui-paginator .ui-paginator-pages {
	vertical-align: middle;
	margin: 0 4px 0 10px;
}

body.layout-compact .ui-paginator .ui-paginator-pages a {
	padding: 1px 6px;
	margin-right: 2px;
}

body.layout-compact .ui-paginator .ui-paginator-pages a:last-child {
	margin-right: 0;
}

body.layout-compact .ui-datagrid .ui-datagrid-header {
	padding: 8px 14px;
}

body.layout-compact .ui-datalist .ui-datalist-header {
	padding: 8px 14px;
}

body.layout-compact .ui-datatable .ui-datatable-header, body.layout-compact .ui-datatable .ui-datatable-footer
	{
	padding: 8px 14px;
}

body.layout-compact .ui-datatable .ui-paginator {
	padding: 8px 14px;
}

body.layout-compact .ui-datatable thead th {
	padding: 6px 10px;
}

body.layout-compact .ui-datatable thead th .ui-sortable-column-icon {
	margin: -4px 0 0 0;
}

body.layout-compact .ui-datatable thead th .ui-sortable-column-icon.ui-icon-carat-2-n-s
	{
	margin-left: 4px;
}

body.layout-compact .ui-datatable tfoot td {
	padding: 6px 10px;
}

body.layout-compact .ui-datatable tbody tr.ui-widget-content td {
	padding: 6px 10px;
}

body.layout-compact .ui-datatable>.ui-icon-arrowthick-1-s {
	font-size: 18px;
}

body.layout-compact .ui-datatable.ui-datatable-scrollable .ui-datatable-scrollable-theadclone th
	{
	padding-top: 0;
	padding-bottom: 0;
}

body.layout-compact .ui-draggable-dragging.ui-state-default {
	padding: 8px 14px !important;
}

body.layout-compact .ui-carousel .ui-carousel-header {
	padding: 5px 14px;
	font-size: 14px;
}

body.layout-compact .ui-carousel .ui-carousel-footer {
	padding: 8px 14px;
	font-size: 14px;
}

body.layout-compact .ui-dialog .ui-dialog-titlebar {
	padding: 8px 14px;
	font-size: 16px;
}

body.layout-compact .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon
	{
	margin-top: 2px;
}

body.layout-compact .ui-dialog .ui-dialog-content {
	padding: 8px 14px;
}

body.layout-compact .ui-autocomplete-panel .ui-autocomplete-list .ui-autocomplete-item
	{
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-autocomplete-panel .ui-autocomplete-list .ui-autocomplete-group
	{
	padding: 6px 10px;
}

body.layout-compact .ui-autocomplete .ui-autocomplete-dropdown {
	top: 4px;
}

body.layout-compact .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only
	{
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	height: 20px;
	width: 20px;
}

body.layout-compact .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-input-token>input
	{
	font-size: 14px;
}

body.layout-compact .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token .ui-autocomplete-token-icon
	{
	margin-top: -10px;
}

body.layout-compact .ui-selectonemenu .ui-selectonemenu-trigger {
	height: 20px;
	width: 20px;
	top: 4px;
}

body.layout-compact .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon
	{
	height: 20px;
	width: 20px;
	margin-top: -8px;
}

body.layout-compact .ui-selectonemenu .ui-selectonemenu-label {
	font-size: 14px;
}

body.layout-compact .ui-selectonemenu-panel .ui-selectonemenu-item {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-selectonemenu-panel .ui-selectonemenu-item-group
	{
	padding: 8px;
}

body.layout-compact .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label-container .ui-selectcheckboxmenu-label
	{
	padding-bottom: 1px;
}

body.layout-compact .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger
	{
	height: 20px;
	width: 20px;
	font-size: 20px;
}

body.layout-compact .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon
	{
	height: 20px;
	width: 20px;
}

body.layout-compact .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header
	{
	padding: 6px 10px;
}

body.layout-compact .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-item
	{
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact #keypad-div .keypad-key {
	font-size: 14px;
	padding: 4px;
}

body.layout-compact .ui-selectmanymenu .ui-selectlistbox-item {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-selectmanymenu .ui-selectlistbox-filter-container
	{
	padding: 6px 10px;
}

body.layout-compact .ui-selectmanymenu .ui-selectlistbox-filter-container .ui-icon
	{
	top: 4px;
	right: 10px;
}

body.layout-compact .ui-spinner .ui-spinner-button {
	width: 18px;
	height: 12px;
	padding: 0;
}

body.layout-compact .ui-spinner .ui-spinner-up .ui-icon {
	top: 6px;
}

body.layout-compact .ui-spinner .ui-spinner-down .ui-icon {
	top: 4px;
}

body.layout-compact .ui-fluid .ui-spinner .ui-spinner-button {
	width: 25px;
	height: 12px;
}

body.layout-compact .ui-fluid .ui-spinner .ui-spinner-input {
	padding-right: 30px;
}

body.layout-compact .ui-calendar .ui-datepicker-trigger {
	top: 4px;
	right: 25px;
	height: 20px;
	height: 20px;
}

body.layout-compact .ui-datepicker .ui-datepicker-header {
	padding: 6px 10px;
	font-size: 14px;
}

body.layout-compact .ui-datepicker .ui-datepicker-header .ui-datepicker-next
	{
	top: 8px;
	font-size: 20px;
}

body.layout-compact .ui-datepicker .ui-datepicker-header .ui-datepicker-prev
	{
	top: 8px;
	font-size: 20px;
}

body.layout-compact .ui-datepicker tbody td a {
	margin: 0;
	height: 24px;
	width: 24px;
	line-height: 24px;
}

body.layout-compact .ui-datepicker .ui-timepicker-div dl {
	margin: -16px 0 40px 0;
}

body.layout-compact .ui-datepicker .ui-timepicker-div dl dt.ui_tpicker_hour_label
	{
	margin-top: 6px;
}

body.layout-compact .ui-datepicker .ui-timepicker-div dl dt.ui_tpicker_minute_label
	{
	margin-top: 6px;
}

body.layout-compact .ui-datepicker .ui-timepicker-div dl dt.ui_tpicker_second_label
	{
	margin-top: 6px;
}

body.layout-compact .ui-datepicker .ui-timepicker-div dl dd {
	margin-top: 42px;
}

body.layout-compact .ui-fluid .ui-calendar .ui-datepicker-trigger.ui-button
	{
	top: -6px;
}

body.layout-compact .ui-messages>div {
	padding: 8px 14px;
}

body.layout-compact .ui-messages>div>span {
	font-size: 24px;
}

body.layout-compact .ui-message {
	min-height: 20px;
}

body.layout-compact .ui-message>span {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

body.layout-compact .ui-message>span.ui-message-info-icon, body.layout-compact .ui-message>span.ui-message-error-icon,
	body.layout-compact .ui-message>span.ui-message-warn-icon, body.layout-compact .ui-message>span.ui-message-fatal-icon
	{
	margin-right: 4px;
	margin-top: 1px;
}

body.layout-compact .ui-accordion .ui-accordion-header {
	padding: 8px 14px;
	padding-left: 36px;
	font-size: 14px;
}

body.layout-compact .ui-accordion .ui-accordion-header .ui-icon-triangle-1-e
	{
	margin-top: -10px;
}

body.layout-compact .ui-accordion .ui-accordion-header .ui-icon-triangle-1-s
	{
	margin-top: -10px;
}

body.layout-compact .ui-accordion .ui-accordion-content {
	padding: 8px 14px;
	line-height: 18px;
}

body.layout-compact .ui-toolbar {
	padding: 8px 14px;
}

body.layout-compact .ui-tabs .ui-tabs-nav>li>a {
	padding: 8px 14px;
}

body.layout-compact .ui-tabs .ui-tabs-nav>li>.ui-icon-close {
	margin: 7px 0 0 0;
}

body.layout-compact .ui-tabs .ui-tabs-panel {
	padding: 8px 14px;
}

body.layout-compact .ui-fieldset {
	padding: 8px 14px;
}

body.layout-compact .ui-fieldset .ui-fieldset-legend {
	padding: 8px 14px;
	padding-left: 2px;
	padding-right: 8px;
}

body.layout-compact .ui-fieldset .ui-fieldset-legend .ui-fieldset-toggler
	{
	padding: 8px;
	margin-top: -10px;
	margin-right: 8px;
}

body.layout-compact .ui-wizard .ui-wizard-step-titles>li {
	padding: 8px 14px;
	font-size: 14px;
}

body.layout-compact .ui-breadcrumb {
	padding: 6px 10px;
}

body.layout-compact .ui-breadcrumb a {
	font-size: 14px;
}

body.layout-compact .ui-breadcrumb li:first-child a {
	font-size: 20px;
	top: 1px;
}

body.layout-compact .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number
	{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 4px 8px;
}

body.layout-compact .ui-menu .ui-menu-list li.ui-widget-header h3 {
	font-size: 14px;
	padding: 6px 10px;
}

body.layout-compact .ui-menu .ui-menu-list li.ui-widget-header h3 .ui-icon
	{
	font-size: 20px;
}

body.layout-compact .ui-menu .ui-menu-list li.ui-widget-header h3 .ui-icon.ui-icon-triangle-1-s,
	body.layout-compact .ui-menu .ui-menu-list li.ui-widget-header h3 .ui-icon.ui-icon-triangle-1-e
	{
	margin: -12px 0 0 0px;
}

body.layout-compact .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link
	{
	font-size: 14px;
	padding: 6px 10px;
	min-height: 30px;
	line-height: 18px;
}

body.layout-compact .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link .ui-menuitem-icon
	{
	margin-right: 8px;
}

body.layout-compact .ui-menu .ui-menu-list .ui-separator {
	height: 1px;
	background-color: #bdbdbd;
	width: 100%;
	box-sizing: border-box;
}

body.layout-compact .ui-menu.ui-menu-toggleable .ui-menu-list li.ui-widget-header
	{
	padding-left: 30px;
}

body.layout-compact .ui-menu.ui-menu-toggleable .ui-menu-list li.ui-widget-header .ui-icon
	{
	color: #ffffff;
}

body.layout-compact .ui-menu.ui-menu-toggleable .ui-menu-list li.ui-widget-header .ui-icon.ui-icon-triangle-1-s
	{
	margin-top: -10px;
}

body.layout-compact .ui-menu.ui-menu-toggleable .ui-menu-list li.ui-widget-header .ui-icon.ui-icon-triangle-1-e
	{
	margin-top: -10px;
}

body.layout-compact .ui-menu.ui-tieredmenu .ui-icon-triangle-1-e {
	top: 6px;
}

body.layout-compact .ui-menu.ui-menubar .ui-menubar-options {
	padding: 6px 10px;
}

body.layout-compact .ui-menu.ui-slidemenu .ui-menu-parent .ui-menu-child
	{
	padding: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

body.layout-compact .ui-menu.ui-slidemenu .ui-slidemenu-backward {
	width: 100%;
	box-sizing: border-box;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body.layout-compact .ui-panelmenu .ui-panelmenu-header a {
	padding: 6px 10px 6px 36px;
	font-size: 14px;
}

body.layout-compact .ui-panelmenu .ui-panelmenu-header .ui-icon {
	color: #ffffff;
	margin-top: -10px;
}

body.layout-compact .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link
	{
	padding: 6px 10px;
	min-height: 30px;
	line-height: 18px;
}

body.layout-compact .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link .ui-icon
	{
	position: static;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}

body.layout-compact .ui-tabmenu .ui-tabmenu-nav>.ui-tabmenuitem>a {
	padding: 8px 14px;
}

body.layout-compact .ui-tabmenu .ui-tabmenu-nav>.ui-tabmenuitem>a .ui-menuitem-icon
	{
	margin-right: 8px;
}

body.layout-compact .ui-tree {
	padding: 8px 14px/2;
}

body.layout-compact .ui-tree .ui-treenode-children {
	padding-left: 24px;
}

body.layout-compact .ui-tree .ui-treenode-content .ui-chkbox {
	margin: 0 4px 0 1px;
}

body.layout-compact .ui-tree .ui-treenode-content .ui-tree-toggler {
	vertical-align: middle;
	margin: 0 1px 0 2px;
}

body.layout-compact .ui-tree .ui-treenode-content .ui-treenode-icon {
	vertical-align: middle;
	margin: 0 2px 0 1px;
}

body.layout-compact .ui-tree.ui-tree-horizontal .ui-treenode-content .ui-tree-toggler
	{
	margin-right: 0;
	vertical-align: bottom;
}

body.layout-compact .ui-tree.ui-tree-horizontal .ui-treenode-content .ui-treenode-icon
	{
	vertical-align: top;
	margin-right: 4px;
}

body.layout-compact .ui-treetable .ui-treetable-header {
	padding: 6px 10px;
	font-size: 14px;
}

body.layout-compact .ui-treetable thead th {
	padding: 6px 10px;
}

body.layout-compact .ui-treetable thead th .ui-sortable-column-icon {
	margin: -4px 0 0 0;
}

body.layout-compact .ui-treetable tfoot td {
	padding: 6px 10px;
}

body.layout-compact .ui-treetable tbody tr td {
	padding: 6px 10px;
}

body.layout-compact .ui-treetable tbody tr td .ui-treetable-toggler {
	margin: 0 4px;
}

body.layout-compact .ui-treetable tbody tr td .ui-chkbox {
	margin-right: 8px;
}

body.layout-compact .ui-lightbox .ui-lightbox-caption {
	padding: 8px 14px;
}

body.layout-compact .ui-lightbox .ui-lightbox-caption .ui-lightbox-close
	{
	line-height: 18px;
	width: 20px;
	height: 20px;
}

body.layout-compact .ui-rating .ui-rating-cancel a {
	font-size: 20px;
}

body.layout-compact .ui-rating .ui-rating-star a {
	font-size: 20px;
}

body.layout-compact .ui-fileupload .ui-fileupload-buttonbar {
	padding: 8px 14px;
}

body.layout-compact .ui-log .ui-log-header {
	padding: 8px 14px;
}

body.layout-compact .ui-tagcloud li {
	margin: 6px 0px;
}

body.layout-compact .ui-slider.ui-slider-horizontal .ui-slider-handle {
	top: -.65em;
}

@media ( min-width : 1025px) {
	body.layout-compact .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu>li>ul
		{
		top: 36px;
	}
	body.layout-compact .layout-wrapper.menu-layout-horizontal .layout-menu>.nano>.nano-content>ul:last-child
		{
		margin-top: 0;
	}
}

@media ( max-width : 640px) {
	body.layout-compact .ui-orderlist.ui-grid-responsive .ui-orderlist-controls
		{
		width: auto;
	}
}

@media ( max-width : 1024px) {
	body.layout-compact .layout-wrapper .topbar .topbar-right .topbar-items>li>a
		{
		font-size: 14px;
		padding: 14px 16px;
	}
	body.layout-compact .layout-wrapper .topbar .topbar-right .topbar-items>li>a i
		{
		font-size: 20px;
	}
}